[build.environment]
  HUGO_VERSION = "0.80.0"
[context.production.environment]
  HUGO_ENV = "production"
[context.deploy-preview]
  command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"
[context.branch-deploy]
  command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"
