{% include 'partials/head.html' %}

<div class="backdrop d-none"></div>

<div class=" container mt-lg-5 mt-3 px-0 fixed-top" style="z-index: 10000;">
	<div class="bg-white rounded boxShadow navMenu d-relative px-1 mx-3 mx-lg-0" style="position: relative;">

		<!-- Main nav -->

		<div class="customNavbar px-4 py-3">

			<!-- Logo -->
			<div><a class="navbar-brand" href="/">
					<img src="{{ url_for('static', filename='img/logo.svg') }}" alt="tilburg science hub logo">
				</a></div>
			
			<!-- Mobile Icons for Nav -->
			<div class="text-right d-block d-xl-none ">
				<a href="#0" id="mobileSearchIcon">
					<img src="{{ url_for('static', filename='img/search.svg') }}" alt="search">
				</a>
				<a href="#0" class="d-none" id="mobileSearchCloseMenuIcon">
					<img src="{{ url_for('static', filename='img/close.svg') }}" alt="close">
				</a>
				<a href="#0" style="width: 42px" class="d-inline-block" id="mobileBurgerIcon">
					<img src="{{ url_for('static', filename='img/burger.svg') }}" alt="burger">
				</a>
				<a href="#0" style="width: 42px" class="d-none" id="mobileCloseMenuIcon">
					<img src="{{ url_for('static', filename='img/close.svg') }}" alt="close">
				</a>
			</div>

			<!-- Main Nav -->
			<div class="menu d-none d-xl-flex align-items-center justify-content-center">
				<ul class="list-unstyled font-weight-normal">

					<li><a style="position: relative;" href="#0" class="headerLink takeTour"><span class="pulse"></span>
							Tour</a></li>

					<li>
						<a onBoardTooltip="Our tutorials bundle, simplify and structure valuable information to ensure a smooth learning experience."
							weight="1" href="{{ url_for('tutorials') }}" class="headerLink menuArrow">Tutorials</a>
						<div class="bg-white text-left w-100 border-top boxShadow subMenu p-5 px-3">

							<div class="row">

								{% for parent_id, parent_data in data_dict['tutorials'].items() %}
								<div class="col-6 mb-4 px-3">
									<span class="heading d-block mb-3 text-secondary" style="font-size: 16px;">{{ parent_data['category_data'].title }}</span>
									{% for child_id, child_data in parent_data['children_categories'].items() %}
										{% if child_data['category_data'].parent == parent_id and child_data['category_data'].draft != 'true' %}
										<a class="d-block mx-0" href="{{ url_for('tutorials') }}/{{ parent_data['category_data'].path }}/{{ child_data['category_data'].path }}/{{ child_data['category_data'].indexpage }}">{{ child_data['category_data'].title }}</a>
										{% endif %}
									{% endfor %}
								</div>
								{% endfor %}
							</div>
						</div>
					</li>
					<li>
						<a onBoardTooltip="Building blocks are the DNA of our platform. They offer specific information on various topics, including code snippets and useful cheat sheets."
							weight="1" href="{{ url_for('buildingblocks') }}" class="headerLink menuArrow">Building Blocks</a>
						<div class="bg-white text-left w-100 border-top boxShadow subMenu">
							<div class="row">
								<div class="col-6 pr-0 h-100 border-right">

									<div class="my-4 nav flex-column nav-pills" id="v-pills-tab" role="tablist"
										aria-orientation="vertical">
										{% for parent_id, parent_data in data_dict['building-blocks'].items() %}
											{% if parent_data['category_data'].draft != 'true' %}
												<a class="nav-link mx-0 px-5 py-3 heading pillx"
												id="v-pills-home-tab" data-toggle="pill" href="{{ url_for('buildingblocks') }}#{{ parent_data['category_data'].path }}" role="tab"
												aria-controls="v-pills-home" aria-selected="false">
												{{ parent_data['category_data'].title }}
												<span class="icon mini-right float-right"></span>
												</a>
											{% endif %}
										{% endfor %}
									</div>

								</div>
								<div class="p-5 px-3 col">
									<div class="tab-content rightMenu" id="v-pills-tabContent">

										{% for parent_id, parent_data in data_dict['building-blocks'].items() %}
											<div class="tab-pane fade" id="{{ parent_data['category_data'].path }}"
												role="tabpanel" aria-labelledby="v-pills-home-tab">
												<div class="row">
													{% for child_id, child_data in parent_data['children_categories'].items() %}
														{% if child_data['category_data'].parent == parent_id %}
														<div class="col-8 mb-4 px-2">
															<span class="heading d-block mb-3 text-secondary" style="font-size: 16px;">{{ child_data['category_data'].title }}</span>
															{% for article in child_data['articles'] %}
																{% if article.parent == child_data['category_data'].id and article.draft != 'true' %}
																<a class="d-block mx-0" href="{{ url_for('buildingblocks') }}/{{ parent_data['category_data'].path }}/{{ child_data['category_data'].path }}/{{ article.path }}">{{ article.title }}</a>
																{% endif %}													
															{% endfor %}
														</div>
														{% endif %}
													{% endfor %}
												</div>
											</div>
										{% endfor %}

									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a onBoardTooltip="Examples are real-life cases, publications, templates, or research projects that put into practice the concepts explained on Tilburg Science Hub."
							href="{{ url_for('examples') }}" class="headerLink menuArrow">Examples</a>
						<div class="bg-white text-left w-100 border-top boxShadow subMenu p-5 px-3">
							<div class="row">
								{% for example in data_dict['examples'] %}
								<div class="col-6 mb-4 px-2">
									{% if example.title %}
									<a id="exampleMenu" class="heading d-block mb-3 text-secondary" href="{{ url_for('examples') }}/{{ example.path }}">{{ example.title }}</a>
									{% endif %}
								</div>
								{% endfor %}
							</div>
						</div>
					</li>

					<li><a href="{{ url_for('about') }}" class="headerLink menuArrow">About</a>
						<div style="margin-left:63%;" class="bg-white text-left border-top boxShadow subMenu p-4">
							<div class="row">
								<div class="col-24 h-100">
									<a class="d-block mx-0" href="{{ url_for('contributors') }}">Contributors</a>
								</div>
							</div>
						</div>
					</li>

				</ul>
			</div>

			<!-- Search & Contribute -->
			<div class="text-right">
				<form class="form-inline text-right float-right d-none d-xl-block" method="GET" action="/search">
					<div style="width: 230px" class="form-control mr-sm-2 headerSearch bg-light border-0">
						<input class="resetInput"
							onBoardTooltip="Search for topics, tutorials, tips, or tools, and explore our content at a glance."
							type="search" name="q" placeholder="Search" aria-label="Search" required autocomplete="off">
						<button style="background-color: transparent; padding: 0;" type="submit"><img
								src="{{ url_for('static', filename='img/search.svg') }}" aria-label="search button"/></button>
					</div>
					<a href="{{ url_for('contribute') }}" style="position: inherit;" class="btn btn-primary my-2 py-2 my-sm-0 px-4 headerLink"
						onBoardTooltip="Tilburg Science Hub is an open-source platform and welcomes new contributors!">Contribute</a>
						<div style="margin-left:85%" class="bg-white js text-left w-20 boxShadow subMenu">
							<div class="row">
								<div class="col-24 pr-0 h-100 p-5 px-3">
									<span class="heading d-block mb-3 text-secondary" style="font-size: 16px;">Contribute to Tilburg Science Hub</span>
									<a class="d-block mx-0" href="{{ url_for('contribute') }}">What and how to contribute?</a>
									<a class="d-block mx-0" href="https://github.com/tilburgsciencehub/website/issues/new/choose">Submit a new issue on GitHub</a>
									<a class="d-block mx-0" href="https://tilburgsciencehub.com/onboarding">View our lab documentation</a>
									<a class="d-block mx-0" href="https://github.com/orgs/tilburgsciencehub/repositories">Check out our repositories</a>
								</div>
							</div>
						</div>
				</form>
			</div>
		</div>

		<!-- Mobile Search menu -->
		<div class="position-absolute bg-white border-top p-3 w-100 d-none rounded-bottom shadow-sm" id="mobileSearchMenu"
			style="z-index: 10; margin-top: -2px;left: 0">
			<div class="form-control mr-sm-2 headerSearchMobile bg-light border-0">
				<form method="GET" action="/search">
					<input class="resetInput" type="search" placeholder="Search" name="q" aria-label="Search" required
						autocomplete="off">
					<button style="background-color: transparent; padding: 0; float: right;" type="submit"><img
							src="{{ url_for('static', filename='img/search.svg') }}" alt="search"/></button>
				</form>
			</div>

			<!-- Mobile Search Results-->
			<div class="mobileResults"></div>
		</div>

		<!-- Mobile Menu -->
		<div class="position-absolute bg-white border-top p-3 w-100 d-none rounded-bottom shadow-sm" id="mobileMenu"
			style="z-index: 10; margin-top: -2px;left: 0">

			<!-- Main Screen -->
			<div class="screen-1 d-none">
				<!--<a href="/tour" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tour for students</a>
			<a href="/researcher-tour" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tour for researchers</a>-->

				<!--<a href="#0" data-screen-two="mobile-tour" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tour<span
					class="icon mini-right float-right text-primary"></span> </a>
-->
				<a href="/tour" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tour</a>

				<a href="#0" data-screen-two="mobile-tutorials"
					class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tutorials<span
						class="icon mini-right float-right text-primary"></span> </a>
				<a href="#0" data-screen-two="mobile-building-blocks"
					class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Building Blocks<span
						class="icon mini-right float-right text-primary"></span> </a>
				<!--<a href="#0" data-screen-two="mobile-examples" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Examples<span
					class="icon mini-right float-right text-primary"></span> </a>-->
				<a href="{{ url_for('examples') }}" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Examples</a>
				<a href="#0" data-screen-two="mobile-about"
					class="nav-link mx-0 px-3 py-3 text-dark border-bottom">About<span
						class="icon mini-right float-right text-primary"></span> </a>

				<div>
					<a href="/contribute/" class="btn btn-primary my-2 px-4 btn-block mt-5">Contribute</a>
				</div>
			</div>

			<!-- Screen 2 If (applicable) -->
			<div class="screen-2 d-none">
				<!-- building blocks -->
				<div id="mobile-building-blocks" class="d-none">
					<a href="#0" class="py-3 border-bottom d-block gotoMainMenu"><span class="icon mini-left text-primary"></span>
						Building Blocks</a>
				</div>

				<!-- Tutorials -->
				<div class="mobile-tutorials d-none" id="mobile-tutorials">
					<a href="#0" class="py-3 border-bottom text-dark d-block gotoMainMenu"><span
							class="icon mini-left text-primary"></span> Tutorials</a>
				</div>

				<!-- About -->
				<div class="mobile-about d-none" id="mobile-about">
					<a href="#0" class="py-3 border-bottom text-dark d-block gotoMainMenu"><span
							class="icon mini-left text-primary"></span> About</a>
					<br>
					<a class="nav-link mx-0 py-2 text-dark font-weight-bold" href="{{ url_for('about') }}">About Tilburg Science Hub<span
						class="icon mini-right float-right"></span> </a>
					<a class="nav-link mx-0 py-2 text-dark font-weight-bold" href="{{ url_for('contributors') }}">Contributors<span
							class="icon mini-right float-right"></span> </a>
				</div>

				<!-- Examples -->
				<div class="mobile-examples d-none" id="mobile-examples">
					<a href="#0" class="py-3 border-bottom text-dark d-block gotoMainMenu"><span
							class="icon mini-left text-primary"></span> Examples</a>
					<br>
				</div>
				
				<!-- Tour -->
				<div class="mobile-tour d-none" id="mobile-tour">
					<a href="#0" class="py-3 border-bottom text-dark d-block gotoMainMenu"><span
							class="icon mini-left text-primary"></span> Take a tour!</a>
					<br>

					<div class="mb-4">
						<a class=" d-block mb-3 text-secondary heading"
							style="color: #003365!important; font-family: forma-djr-display,sans-serif;" href="/tour">For students</a>
						<a class=" d-block mb-3 text-secondary heading"
							style="color: #003365!important; font-family: forma-djr-display,sans-serif;" href="/researcher-tour">For
							researchers</a>
					</div>


				</div>
			</div>
		</div>
	</div>

	<!-- Search results -->
	<div class="position-absolute bg-white rounded shadow headerSearchResultsHolder">
	</div>

</div>
<div style="height: 90px"></div>