<div class="alert alert-light" role="alert">
  <p style="color:#003365;  text-align: center;" >
  <strong>Join the community!</strong><br>
  Visit our <a href="https://github.com/tilburgsciencehub/website" target="_blank" rel="noopener noreferrer">GitHub</a> or <a href="https://www.linkedin.com/company/tilburgsciencehub" target="_blank" rel="noopener noreferrer">LinkedIn</a> page to join the Tilburg Science Hub community, or check out our <a href="/contributors">contributors' Hall of Fame</a>! <br>
  Want to change something or add new content? Click the <a href="https://tilburgsciencehub.com/contribute" target="_blank" rel="noopener noreferrer">Contribute</a> button!</p>
</div>
