<footer class="pt-5 font-weight-normal" style="background-color: #001C37;">
	<div class="container pt-5">
		<div class="row pt-0">
			<div class="col-1"></div>
			<div class="col-1">
				<img src="/img/footer-mark.svg" alt="">
			</div>
			<div class="col-1"></div>
			<div class="col-4">
				<span class="heading text-white d-block mb-3">Building Blocks</span>

				{{- range where .Site.Pages "Section" "building-blocks" -}}
				{{ if eq .Params.isParent "true" }}
				{{- range $index, $value := .Pages -}}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				{{- end -}}
				{{ end }}
				{{- end -}}
			</div>
			<div class="col-1"></div>
			<div class="col-4">
				<span class="heading text-white d-block mb-3">Tutorials</span>

				{{- range where .Site.Pages "Section" "tutorials" -}}
				{{ if eq .Params.isParent true }}
				{{- range $index, $value := .Pages -}}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				{{- end -}}
				{{ end }}
				{{- end -}}
			</div>
			<div class="col-1"></div>
			<div class="col-4">
				<span class="heading text-white d-block mb-3">Examples</span>

				{{- range where .Site.Pages "Section" "examples" -}}
				{{- range $index, $value := .Pages -}}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				{{ end }}
				{{- end -}}
			</div>
			<div class="col-1"></div>
			<div class="col-4">
				<span class="heading text-white d-block mb-3">Tilburg Science Hub</span>

				<a href="">Tour</a>
				<a href="">About</a>
				<a href="">FAQs</a>
				<a href="">Blog</a>
				<a href="">Contact</a>
			</div>
			<div class="col-2"></div>
		</div>
	</div>
	<div class="mt-5" style="border-top: solid 1px rgba(255, 255, 255, 0.2);"></div>
	<div class="container">
		<div class="row justify-content-md-center py-5 ">
			<div class="col-18">
				<div class="d-flex justify-content-md-between">
					<div class="">© 2020 Tilburg Science Hub. All rights reserved | <a class="d-inline-block text-white"
							href="#0">Terms of Service</a> | <a class="d-inline-block text-white" href="#0">Privacy</a> | <a
							class="d-inline-block text-white" href="#0">Legal</a></div>
					<div class=" text-right">
						<a class="d-inline-block mx-2" style="font-size: 17px;" href="#0">
							<i class="fa fa-github"></i>
						</a>
						<a class="d-inline-block mx-2" style="font-size: 17px;" href="#0">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="d-inline-block mx-2" style="font-size: 17px;" href="#0">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</footer>

<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>