<footer class="py-5" style="background-color: #001C37;">
	<div class="container my-5">
		<div class="row">
			<div class="col-4">
				<img src="/img/footer-mark.svg">
			</div>
			<div class="col-5">
				<h5>Building Blocks</h5>

				<a href="#0">Set up your work environment</a>
				<a href="#0">Organise your project</a>
				<a href="#0">Manage raw data</a>
				<a href="#0">Document data and project</a>
				<a href="#0">Collect data</a>
				<a href="#0">Store data</a>
				<a href="#0">Automate your work</a>
				<a href="#0">Collaborate</a>
			</div>
			<div class="col-5">
				<h5>Tutorials</h5>

				<a href="#0">Set up your work environment</a>
				<a href="#0">Organise your project</a>
				<a href="#0">Manage raw data</a>
				<a href="#0">Document data and project</a>
				<a href="#0">Collect data</a>
				<a href="#0">Store data</a>
				<a href="#0">Automate your work</a>
				<a href="#0">Collaborate</a>
			</div>
			<div class="col-5">
				<h5>Examples</h5>

				<a href="#0">Basic computational setup</a>
				<a href="#0">Advanced computational setup in the cloud</a>
				<a href="#0">Teamwork and Coding</a>
				<a href="#0">TiSEM AirBnB (Stata, …)</a>
				<a href="#0">Simple workflow using make and LaTex (Rafael)</a>
				<a href="#0">Marketing text mining workflow</a>
				<a href="#0">Research setup for web scraping</a>
				<a href="#0">Research setup with a database</a>
				<a href="#0">Reproducibility in the classroom</a>
			</div>
			<div class="col-5">
				<h5>Tilburg Science Hub</h5>

				<a href="">Tour</a>
				<a href="">About</a>
				<a href="">FAQs</a>
				<a href="">Blog</a>
				<a href="">Contact</a>
			</div>
		</div>
	</div>
	<hr>

</footer>