{{ partial "head.html" . }}

<div class="backdrop d-none"></div>

{{ if .Params.keywords }}<div class="d-none">{{ .Params.keywords }}</div> {{ end }}
{{ if .Params.description }}<div class="d-none">{{ .Params.descriptions }}</div>{{ end }}


<!-- Announcement bar 
{{ if .Params.showbar }}

<div class="announcement d-none d-lg-block d-xl-block px-0 fixed-top">
	<div>Join the Community! <a href="https://www.linkedin.com/company/tilburgsciencehub">Visit us now on LinkedIn!</a></div>
</div>

{{ end }} -->

<div class=" container mt-lg-5 mt-3 px-0 fixed-top" style="z-index: 10000;">
	<div class="bg-white rounded boxShadow navMenu d-relative px-1 mx-3 mx-lg-0" style="position: relative;">

		<!-- Desktop menu -->

		<div class="customNavbar px-4 py-3">
			<div><a class="navbar-brand" href="/">
					<img src="/img/logo.svg" alt="tilburg science hub logo">
				</a></div>

			<div class="text-right d-block d-xl-none ">
				<a href="#0" id="mobileSearchIcon">
					<img src="/img/search.svg" alt="search">
				</a>
				<a href="#0" class="d-none" id="mobileSearchCloseMenuIcon">
					<img src="/img/close.svg" alt="close">
				</a>
				<a href="#0" style="width: 42px" class="d-inline-block" id="mobileBurgerIcon">
					<img src="/img/burger.svg" alt="burger">
				</a>
				<a href="#0" style="width: 42px" class="d-none" id="mobileCloseMenuIcon">
					<img src="/img/close.svg" alt="close">
				</a>
			</div>
			<div class="menu d-none d-xl-flex align-items-center justify-content-center">
				<ul class="list-unstyled font-weight-normal">

					<!--	<li><a class="headerLink" href="/tour">Tour</a></li>-->

					<li><a style="position: relative;" href="#0" class="headerLink takeTour"><span class="pulse"></span>
							Tour</a></li>

					<li>
						<a onBoardTooltip="Our tutorials bundle, simplify and structure valuable information to ensure a smooth learning experience."
							weight="1" href="/tutorials" class="headerLink menuArrow">Tutorials</a>
						<div class="bg-white text-left w-100 border-top boxShadow subMenu p-5 px-3">

							<div class="row">

								{{- range where .Site.Home.Sections "Section" "tutorials"}}

								{{ range .Pages }}
								<div class="col-6 mb-4 px-3">
									<span class="heading d-block mb-3 text-secondary" style="font-size: 16px;">{{.Title}}</span>
									{{ range .Pages }}
									{{ if eq .Params.indexexclude "true" }}
									<!--<a class="d-block mx-0" href="{{.Permalink}}">DONOTSHOW{{.Title}}</a>-->
									{{ else }}
									<a class="d-block mx-0"
										href="{{.Permalink}}{{ if .Params.indexPage }}{{ .Params.indexPage }}{{end}}">{{ if .Params.tutorialtitle }}{{ .Params.tutorialtitle }}{{ else }}{{ .Title }}{{ end }}</a>
									{{ end }}
									{{ end }}
								</div>
								{{ end }}

								{{- end}}

							</div>
						</div>
					</li>
					<li>
						<a onBoardTooltip="Building blocks are the DNA of our platform. They offer specific information on various topics, including code snippets and useful cheat sheets."
							weight="1" href="/building-blocks" class="headerLink menuArrow">Building Blocks</a>
						<div class="bg-white text-left w-100 border-top boxShadow subMenu">
							<div class="row">
								<div class="col-6 pr-0 h-100 border-right">

									<div class="my-4 nav flex-column nav-pills" id="v-pills-tab" role="tablist"
										aria-orientation="vertical">

										{{- range where .Site.Pages "Section" "building-blocks" -}}
										{{ if eq .Params.isParent "true" }}
										{{- range $index, $value := .Pages -}}
										<a class="nav-link mx-0 px-5 py-3 heading pillx {{ if eq $index 0 }} active  {{ end }}"
											id="v-pills-home-tab" data-toggle="pill" href="#{{ .Title | urlize }}" role="tab"
											aria-controls="v-pills-home" aria-selected="true">{{ .Title }}<span
												class="icon mini-right float-right"></span> </a>
										{{- end -}}
										{{ end }}
										{{- end -}}

									</div>

								</div>
								<div class="p-5 px-3 col">
									<div class="tab-content rightMenu" id="v-pills-tabContent">

										{{- range where .Site.Pages "Section" "building-blocks" -}}
										{{ if eq .Params.isParent "true" }}
										{{- range $index, $value := .Pages -}}
										<div class="tab-pane fade {{ if eq $index 0 }} show active {{ end }}" id="{{ .Title | urlize }}"
											role="tabpanel" aria-labelledby="v-pills-home-tab">
											<div class="row">
												{{ range .Pages }}
												<div class="col-8 mb-4 px-2">
													<span class="heading d-block mb-3 text-secondary" style="font-size: 16px;">{{.Title}}</span>
													{{- range .Pages -}}
													<a class="d-block mx-0" href="{{.Permalink}}">{{.Title}}</a>
													{{ end }}

												</div>
												{{ end }}
											</div>
										</div>
										{{ end }}
										{{ end }}
										{{ end }}

									</div>
								</div>
							</div>


						</div>
					</li>
					<li>
						<a onBoardTooltip="Examples are real-life cases, publications, templates, or research projects that put into practice the concepts explained on Tilburg Science Hub."
							href="/examples" class="headerLink menuArrow">Examples</a>
						<div class="bg-white text-left w-100 border-top boxShadow subMenu p-5 px-3">
							<div class="row">
								{{- range where .Site.Pages "Section" "examples" -}}
								{{ if eq .Title "Examples" }}

								<!-- <h5 class="text-secondary" style="font-size: 16px;">{{.Title}}</h5> -->
								{{- range .Pages -}}
								<div class="col-6 mb-4 px-2">
									{{ if .Title }}
									<a id="exampleMenu" class="heading d-block mb-3 text-secondary" href="{{.Permalink}}">{{- .Title -}}</a>
									{{ end }}
								</div>
								{{ end }}
								{{ end }}
								{{ end }}
							</div>
						</div>
					</li>

					<li><a href="/about" class="headerLink">About</a></li>

				</ul>
			</div>
			<div class="text-right">
				<form class="form-inline text-right float-right d-none d-xl-block" method="GET" action="/search">
					<div style="width: 230px" class="form-control mr-sm-2 headerSearch bg-light border-0">
						<input class="resetInput"
							onBoardTooltip="Search for topics, tutorials, tips, or tools, and explore our content at a glance."
							type="search" name="q" placeholder="Search" aria-label="Search" required autocomplete="off">
						<button style="background-color: transparent; padding: 0;" type="submit"><img
								src="/img/search.svg" aria-label="search button"/></button>
					</div>
					<a href="/contribute/" style="position: inherit;" class="btn btn-primary my-2 py-2 my-sm-0 px-4 headerLink"
						onBoardTooltip="Tilburg Science Hub is an open-source platform and welcomes new contributors!">Contribute</a>
						<div style="margin-left:85%" class="bg-white js text-left w-20 boxShadow subMenu">
							<div class="row">
								<div class="col-24 pr-0 h-100 p-5 px-3">
									<span class="heading d-block mb-3 text-secondary" style="font-size: 16px;">Contribute to Tilburg Science Hub</span>
									<a class="d-block mx-0" href="/contribute/">What and how to contribute?</a>
									<a class="d-block mx-0" href="https://github.com/tilburgsciencehub/website/issues/new/choose">Submit a new issue on GitHub</a>
									<a class="d-block mx-0" href="https://tilburgsciencehub.com/onboarding">View our lab documentation</a>
								</div>
							</div>
						</div>
				</form>
			</div>
		</div>






		
		<!-- mobile menu -->
		<div class="position-absolute bg-white border-top p-3 w-100 d-none rounded-bottom shadow-sm" id="mobileSearchMenu"
			style="z-index: 10; margin-top: -2px;left: 0">
			<div class="form-control mr-sm-2 headerSearchMobile bg-light border-0">
				<form method="GET" action="/search">
					<input class="resetInput" type="search" placeholder="Search" name="q" aria-label="Search" required
						autocomplete="off">
					<button style="background-color: transparent; padding: 0; float: right;" type="submit"><img
							src="/img/search.svg" alt="search"/></button>
				</form>
			</div>

			<div class="mobileResults"></div>
		</div>
		<div class="position-absolute bg-white border-top p-3 w-100 d-none rounded-bottom shadow-sm" id="mobileMenu"
			style="z-index: 10; margin-top: -2px;left: 0">
			<!-- screen 1 -->
			<div class="screen-1 d-none">
				<!--<a href="/tour" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tour for students</a>
			<a href="/researcher-tour" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tour for researchers</a>-->

				<!--<a href="#0" data-screen-two="mobile-tour" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tour<span
					class="icon mini-right float-right text-primary"></span> </a>
-->
				<a href="/tour" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tour</a>

				<a href="#0" data-screen-two="mobile-tutorials"
					class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Tutorials<span
						class="icon mini-right float-right text-primary"></span> </a>
				<a href="#0" data-screen-two="mobile-building-blocks"
					class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Building Blocks<span
						class="icon mini-right float-right text-primary"></span> </a>
				<!--<a href="#0" data-screen-two="mobile-examples" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Examples<span
					class="icon mini-right float-right text-primary"></span> </a>-->
				<a href="/examples" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">Examples</a>
				<a href="/about" class="nav-link mx-0 px-3 py-3 text-dark border-bottom">About</a>

				<div>
					<a href="/contribute/" class="btn btn-primary my-2 px-4 btn-block mt-5">Contribute</a>
				</div>
			</div>

			<!-- screen 2 -->
			<div class="screen-2 d-none">
				<!-- building blocks -->
				<div id="mobile-building-blocks" class="d-none">
					<a href="#0" class="py-3 border-bottom d-block gotoMainMenu"><span class="icon mini-left text-primary"></span>
						Building Blocks</a>
					<br>
					{{- range where .Site.Pages "Section" "building-blocks" -}}
					{{ if eq .Params.isParent "true" }}
					{{- range $index, $value := .Pages -}}
					<a class="nav-link mx-0 py-2 text-dark font-weight-bold" href="{{.Permalink}}">{{ .Title }} <span
							class="icon mini-right float-right"></span> </a>
					<div class="tab-pane {{ if eq $index 0 }} show active {{ end }} d-none" id="{{ .Title | urlize }}"
						role="tabpanel" aria-labelledby="v-pills-home-tab">
						<div class="pl-4 mb-4">
							<!--
						{{ range .Pages }}
						<div class="mb-4">
							<span class="heading d-block mb-0" style="font-size: 16px;">{{.Title}}</span>
							{{- range .Pages -}}
							<a class="d-block mx-0" href="{{.Permalink}}">{{.Title}}</a>
							{{ end }}

						</div>
						{{ end }}
						-->
						</div>
					</div>
					{{- end -}}
					{{ end }}
					{{- end -}}
				</div>

				<!-- Tutorials -->
				<div class="mobile-tutorials d-none" id="mobile-tutorials">
					<a href="#0" class="py-3 border-bottom text-dark d-block gotoMainMenu"><span
							class="icon mini-left text-primary"></span> Tutorials</a>
					<br>
					{{- range where .Site.Home.Sections "Section" "tutorials" -}}
					{{ range .Pages }}


					<a class="nav-link mx-0 py-2 text-dark font-weight-bold" href="{{.Permalink}}">{{ .Title }} <span
							class="icon mini-right float-right"></span> </a>

					<!--	<div class="mb-4">
					<div class="text-secondary m-0 mt-2 heading" style="font-size: 16px; line-height: 2px">{{.Title}}</div>

					
					{{- range .Pages -}}
					{{ if ne .Params.indexexclude "true" }}
					<a class="d-block mx-0 ml-3 mt-3" href="{{.Permalink}}">{{ if .Params.tutorialtitle }}{{ .Params.tutorialtitle }}{{ else }}{{ .Title }}{{ end }}</a>
					{{ end }}
					{{ end }}

				</div>

				-->
					{{ end }}
					{{ end }}
				</div>

				<!-- Examples -->
				<div class="mobile-examples d-none" id="mobile-examples">
					<a href="#0" class="py-3 border-bottom text-dark d-block gotoMainMenu"><span
							class="icon mini-left text-primary"></span> Examples</a>
					<br>

					{{- range where .Site.Pages "Section" "examples" -}}
					{{ if ne .Title "Examples" }}
					<div class="mb-4">
						<a class=" d-block mb-3 text-secondary heading"
							style="color: #003365!important; font-family: forma-djr-display,sans-serif;" href="{{.Permalink}}">{{- .Title -}}</a>
					</div>
					{{ end }}
					{{ end }}

				</div>
				<!-- Tour -->
				<div class="mobile-tour d-none" id="mobile-tour">
					<a href="#0" class="py-3 border-bottom text-dark d-block gotoMainMenu"><span
							class="icon mini-left text-primary"></span> Take a tour!</a>
					<br>

					<div class="mb-4">
						<a class=" d-block mb-3 text-secondary heading"
							style="color: #003365!important; font-family: forma-djr-display,sans-serif;" href="/tour">For students</a>
						<a class=" d-block mb-3 text-secondary heading"
							style="color: #003365!important; font-family: forma-djr-display,sans-serif;" href="/researcher-tour">For
							researchers</a>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- search results -->
	<div class="position-absolute bg-white rounded shadow headerSearchResultsHolder">
	</div>

</div>
<div style="height: 90px"></div>
