<!-- pagination -->
<div class="pagination">
	<div>
		<div class="pagination-title d-none d-lg-block">Previous</div>
		<a href="{{ with .NextInSection }}{{ .RelPermalink }}{{ end }}" class="pagination-button">
			<div class="arrow-circle">
				<img src="/img/arrow-right.svg">
			</div>
			<span class="d-inline-block d-lg-none">Previous</span>
			<span class="d-none d-lg-inline-block">{{ with .NextInSection }}{{ .Title }}{{ end }}</span>
		</a>
	</div>
	<div class="pagination-right">
		<div class="pagination-title d-none d-lg-block">Next</div>
		<a href="{{ with .PrevInSection }}{{ .RelPermalink }}{{ end }}" class="pagination-button">
			<span class="d-none d-lg-inline-block">{{ with .PrevInSection }}{{ .Title }}{{ end }}</span>
			<span class="d-inline-block d-lg-none">Next</span>
			<div class="arrow-circle">
				<img src="/img/arrow.svg">
			</div>
		</a>
	</div>
</div>
<!-- /pagination -->