<div class="share">
  <div class="share-title d-none d-lg-block">Share
    <a href="http://www.facebook.com/sharer.php?u={{ .siteURL }}{{ .context }}" class="facebook" aria-label="share on Facebook">
      <div class="share-button facebook"><img src="/img/Facebook.svg"></div>
    </a>
    <a href="http://twitter.com/share?url={{ .siteURL }}{{ .context }}" class="twitter" aria-label="share on Twitter">
      <div class="share-button twitter"><img src="/img/Twitter.svg"></div>
    </a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://tilburgsciencehub.com{{ . }}" class="linkedin" aria-label="share on LinkedIn">
      <div class="share-button linkedin"><img src="/img/LinkedIn.svg"></div>
    </a>
    <a href="mailto:?subject=Check%20out%20this%20great%20article%20on%20Tilburg%20Science%20Hub&body=https://tilburgsciencehub.com{{ . }}" class="email" aria-label="share on Email">
      <div class="share-button mail"><img src="/img/Mail.svg"></div>
    </a>
  </div>
</div>
