{{ partial "header.html" . }}
<br><br>
<div class="container mt-4">
	{{ partial "breadcrumbs.html" . }}
</div>
<div class="container content px-0 mt-5">
	<div class="row justify-content-center mx-0">
		<div class="col-lg-8 col-22 pr-lg-5">
			<div class="sticky-top">
				<h1 style="font-size: 38px; line-height: 48px;">{{ .Title }}</h1>
				{{ if .TableOfContents }}
				<div class="TableOfContents">
					<span class="arrow-icon"></span>
					<div class="pseudo-btn"></div>
					{{ .TableOfContents }}
				</div>
				{{ end }}
			</div>
			
		</div>
		<article class="col-lg-16 col-22">
			<div class="p-5 bg-white rounded mb-5">
				{{ .Content }}
			</div>
		</article>

		{{ partial "relatedPosts.html" . }}
	</div>
</div>

{{ partial "footer.html" . }}