@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #003365;
  opacity: 1; /* Firefox */
}

* {
  // outline: solid 1px rgba(255, 0, 0, 0.6);
}

// share
.share {
  margin-top: 60px;
  // padding-top: 40px;
  display: flex;
  justify-content: space-between;

  .share-title {
    font-family: "forma-djr-display", sans-serif;
    line-height: 23px;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
  }

  .share-button {
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    vertical-align: middle;

    &.facebook svg {
      width: 17px;
      height: 19px;
    }

    &.twitter svg {
      width: 20px;
      height: 18px;
    }

    &.linkedin svg {
      width: 16px;
      height: 18px;
    }

    &.mail svg {
      width: 18px;
      height: 16px;
    }

    svg path {
      fill: $secondary !important;
    }

    svg path:hover {
      fill: $primary !important;
    }

  }
}

// pagination
.pagination {
  margin-top: 60px;
  padding-top: 40px;
  border-top: solid 1px #EBEBEB;
  display: flex;
  justify-content: space-between;

  .pagination-right {
    text-align: right;

    span {
      padding: 0 10px 0 20px !important;
    }
  }

  .pagination-title {
    font-family: "forma-djr-display", sans-serif;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .pagination-button {
    cursor: pointer;
    display: inline-block;
    color: $secondary;

    .arrow-circle {
      width: 38px;
      height: 38px;
      border-radius: 50px;
      background-color: #FFB222;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    background-color: #FFF5E5;
    border-radius: 50px;

    span {
      display: inline-block;
      padding: 0 20px 0 10px;
      line-height: 26px;
      font-size: 15px;
      vertical-align: text-bottom;
      font-family: "acumin-pro", sans-serif !important;
    }
  }
}

.relatedPosts {
  margin: 0 !important;
  a {
    color: $secondary;

    &:hover {
      color: $primary;
    }
  }
}
.codeblock {
  border: solid 1px #E0E0E0;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;

  pre {
    margin: 20px 0 0 0;
  }

  ul {
    margin: 0 !important;
    padding: 0;
    border: 0;
  }

  .nav-link{
    border: none;
    padding: 0;
    margin: 10px 20px;
    color: $secondary;
    font-size: 16px;


    &:hover {
      border: none;
    }

    &.active {
      border: none;
      color: $primary;
      font-weight: 500;
      border-bottom: solid 2px $primary;
    }
  }
}

#breadcrumbs {
  a {
    color: #6081A2 !important;
  }
}

pre {
  padding: 12px;
  border-radius: 4px;
  background-color: #F0F5F9;
  color: #003365;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 24px;
  margin: 26px 0;
}

.sticky-top {
  top: 160px;
}

.TableOfContents {
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;

  #TableOfContents {
    padding: 10px 0 0 10px;
  }

  .pseudo-btn {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;

      &.active {
        display: none !important;
      }
    }



  ul {
    list-style: none;
    padding: 0;

    li:last-child {
      margin-bottom: 0;
    }

    li {
      font-size: 16px;
      font-family: "forma-djr-display", sans-serif;
      line-height: 24px;
      margin-bottom: 10px;
      a {
        color: #003365;
      }

      ul {
        margin-top: 10px;
        padding-left: 15px;

        li {
          font-family: "acumin-pro", sans-serif !important;
          margin-bottom:10px !important;

        }
      }
    }
  }
  h5 {
    a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
  }
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
}

.screen-2 {
  max-height: 80vh;
  overflow-y: scroll;

  a {
    &:hover {
      color: $primary !important;
    }
  }

  .nav-link {
    font-family: "forma-djr-display";
    font-weight: 200 !important;

    &:hover {
      color: $primary !important;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease;

  &.active {
    opacity: 1
  }
}
.anchor-no-effect {
  margin: 0 !important;

  &:hover {
    font-weight: 200 !important;
  }
}

.menuExpand {
  .icon {
    transition: all 0.3s ease;
    transform: rotate(90deg);
  }
  &.active {
    .icon {
      transform: rotate(270deg);
    }
  }
}



html,
body {
  font-family: "acumin-pro", sans-serif !important;
  scroll-behavior: smooth;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 40px;
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  // margin-top: 40px;

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}

html {
  background-color: #f0f5f9;

  &:after {
    content: "";
    position: absolute;
    // width: 100%;
    left: 0;
    right: 0;
    height: 700px;
    top: 0px;
    // top: -225px;
    right: 0px;
    background-image: url("/img/Oval Copy 2@2x.png");
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    // background: rgb(198, 217, 243);
    // background: radial-gradient(
    //   ellipse at top right,
    //   rgba(198, 217, 243, 1) 0%,
    //   rgba(240, 245, 249, 1) 60%
    // );
  }
}

.cover {
  .hero-image {
    max-width: 90%;
    margin-right: -70px;
  }
}

.resetInput {
  border: 0;
  background-color: transparent;
  width: 80%;
  float: left;

  &:focus {
    outline: none;
  }
}

.heading {
  font-family: "forma-djr-display", sans-serif;
}

#exampleMenu.heading
{
  font-family: "forma-djr-display", sans-serif;
  font-size: 16px!important;
  color: #003365!important;
  &:hover {
    color: $primary!important;
  }
}

.boxShadow {
  box-shadow: 0 30px 35px -21px rgba(186, 195, 204, 0.5) !important;
}

.pseudobox {
  height: 361px;
}

.multiMenu {
  display: grid;
  grid-template-columns: 300px 1fr;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "utile-display", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 56px;
  line-height: 66px;
}

h2 {
  font-size: 44px;
  line-height: 52px;
}

h3,
.h3 {
  font-size: 36px;
  line-height: 52px;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 35px;
}

h5,
.h5 {
  font-size: 20px;
  height: 48px;
  font-weight: 700 !important;
}

ul {
  font-size: 16px;
  color: #6081a2 !important;
}

.buildingBlockSearch {
  &::placeholder {
    color: #6081A2;
  }
}

.defaultPageSidebarMenu {
  h5 {
    font-size: 16px;
    font-weight: 200 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 36px;

    a {

    }
  }
}

article {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h2::before {
    display: block;
    content: " ";
    margin-top: -160px;
    height: 160px;
    visibility: hidden;
    pointer-events: none;
  }

  h4::before {
    display: block;
    content: " ";
    margin-top: -160px;
    height: 160px;
    visibility: hidden;
    pointer-events: none;
  }

  h3::before {
    display: block;
    content: " ";
    margin-top: -160px;
    height: 160px;
    visibility: hidden;
    pointer-events: none;
  }

  h3, h4 {
    font-size: 20px;
    font-family: "forma-djr-display", sans-serif;
  }

  h4 {
    font-size: 16px;
    line-height: 23px;
  }

  p {
    font-size: 18px;
  }

  ul, ol {
    margin: 30px 0;
    li {
      color: #003365;
      font-size: 18px;
    }
  }

  img {
    max-width: 100%;
    margin: 0 auto;
  }

  table {
    margin-bottom: 25px;
  }
}

.buildingBlocksSuggestions {
  top: 60px;
  display: none;
  max-height: 400px;
  overflow-y: scroll;
  z-index: 10;

  &.active {
    display: block;
  }
}

.buildingBlocksRow {
  h4 {
    line-height: 28px;
  }
  a {
    color: #6081a2 !important;
    font-family: "acumin-pro", sans-serif;

    &:hover {
      color: $primary !important;
    }
  }
}

.headerSearchResultsHolder {
  display: none;
  position: relative;
  top: 70px;
  right: 90px;
  z-index: 10;
  width: 300px;
  max-height: 600px;
  overflow-y: scroll;

  &.active {
    display: block;
  }
}

footer {
  color: #60758a;

  span.heading {
    color: #fff;
    font-size: 16px;
  }

  a {
    display: block;
    color: #60758a;
    line-height: 26px;

    &:hover {
      color: $primary !important;
    }
  }
}

.customNavbar {
  display: grid;
  grid-template-columns: 12fr 18fr 12fr;
  align-items: center;
  font-size: 12px;

  .headerLink {
    padding: 10px;
  }

  .subMenu {
    position: absolute;
    left: 0;
    z-index: 10;
    top: 70px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;

    a {
      font-size: 16px !important;
      line-height: 23px;
    }

    a:not(.pillx) {
      color: #6081a2 !important;
      font-family: "acumin-pro", sans-serif;
      line-height: 26px;
      font-size: 15px !important;

      &:hover {
        color: $primary !important;
        // font-weight: bold;
      }
    }

    .rightMenu {
      a {
        color: #6081a2 !important;
        font-family: "acumin-pro", sans-serif;

        &:hover {
          color: $primary !important;
          // font-weight: bold;
        }
      }
    }

    &.active {
      display: grid;
    }

    &.subMenuAnimate {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .menu {
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
      font-size: 15px;
      li {
        display: inline-block;
      }
    }

    a {
      margin: 0 8px;
      color: $secondary;

      &:hover {
        color: $primary;
      }

      &:after {
        transition: all 0.3s ease;
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        opacity: 0;
        border-bottom: solid 2px $primary;
        bottom: -18px;
      }

      &.activeMenu {
        position: relative;
        color: $primary;

        &.menuArrow {
          position: relative;

          &:before {
            transform: rotate(180deg);
          }
        }

        &:after {
          bottom: -13px;
          opacity: 1;
        }
      }
    }
  }
}

.screen-1,
.screen2  {
  a:not(.btn)
   {
    font-size: 18px !important;
    line-height: 26px !important;
    color: #003365 !important;
    font-weight: 400;
  }
}

.screen-2  {
  .gotoMainMenu
   {
    font-size: 18px !important;
    line-height: 26px !important;
    color: #003365 !important;
    font-weight: 400;
  }

  a {
    font-size: 16px;
    line-height: 23px;
    color: #003365 !important;
  }
}

footer {
  .footerCollapse {
  }
}
.text-primary {
  color: $primary !important;
}
p {
  font-size: 18px;
  line-height: 26px;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: $secondary;
}

.btn-primary {
  &:hover {
    border: solid 1px #ff8200;
    background: #ff8200 !important;
  }
}

.btn-secondary {
    border: solid 1px $primary;
    background: #fff !important;
    color: $primary;
    &:hover {
      border: solid 1px #ff8200;
      background: #ff8200 !important;
    }
}

.nav-pills {
  a.active {
    &:hover {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 991px) {
  .TableOfContents {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    height: 56px;
    overflow: hidden;

    span.arrow-icon{
      font-family: "icomoon";
      position: absolute;
      right: 20px;
      top: 18px;
      display: inline-block;
      color: $secondary;
      transition: all 0.3s ease;

      &:before {
        content: "\e92e";
      }
    }

    &.active {
      span.arrow-icon {
        transform: rotate(180deg);
        &:before {
          content: "\e92e";

        }
      }
    }

    nav {
      margin: 0;
    }
  }

  .cover {
    .hero-image {
      max-width: 50%;
      margin-top: -50px;
    }
  }
}

@media only screen and (max-width: 1340px) {

  .sticky-top {
    top: 0px;
  }



  .navMenu {
    border-radius: 0;
  }
  footer {
    .footerCollapse {
      border-bottom: solid 1px #33495f;
      position: relative;

      &:before {
        content: "\e92e";
        position: absolute;
        right: 0;
        top: 16px;
        color: #fff;
        font-family: "icomoon";
        transition: all 0.3s ease;
      }

      &.active {
        &:before {
          transform: rotate(180deg);
        }
      }

      .links {
        padding-bottom: 20px;
      }
    }

    .heading {
      font-size: 18px;
    }
  }

  .customNavbar {
    grid-template-columns: 12fr 12fr;
  }

  .h1, h1,
  .h2, h2 {
    font-size: 38px;
    line-height: 46px;
  }

  .h3, h3 {
    font-size: 26px;
    line-height: 38px;
  }
}

.admonition {
  padding: 20px;
  border-radius: 8px;
  font-size: 16px !important;
  line-height: 24px;
  margin: 26px 0;

  // p, ol {
  //   margin-bottom: 0;
  // }

  &.tip {
    background-color: #EAF9F6;
  }

  &.summary {
    background-color: #F0EFFF;
  }

  &.warning {
    background-color: #FFF2E8;
  }

  &.example {
    background-color: #F0F7FF;
  }

  &.author {
    background-color: #F0F5F9;
  }
}

.linkHeading {
  color: $secondary !important;

  &:hover {
    color: $primary !important;
  }
}

// code
.kd {
  color: #18A8B2;
}
.c1 {
  color: #334345;
}
.nx {
  color: #D43B58;
}
.s2 {
  color: #C08B30;
}

.k {
  color: #FF5B7A;
}
