{{- partial "header.html" . -}}
{{ $currentURL := .Permalink }}
{{ $slashCount := len (split $currentURL "/") }}

<span id="scrollTo"><a href="#{{ .CurrentSection.Name | urlize }}-ezo"></a></span>

<div class="container content">
  <br><br><br><br>
  <div class="row justify-content-center">
    <div class="col-lg-11 col-22">
      <h1 class="text-center">{{ .Title }}</h1>
      <p class="text-center text-secondary my-5">
        Explore our core topics and start using code snippets and workflows that help you integrate open science practices in your work.
      </p>
    </div>

  </div>
  <br><br><br><br>
  <div class="row justify-content-center buildingBlocksRow">
    <div class="col-20">

      <!-- All Topics -->
      {{ if eq $slashCount 5}}{{- range .Pages -}}
      <h3 class="heading font-weight-normal mb-3">{{ .Title }}</h3>
      {{- range .Pages -}}
      <div class="p-5 bg-white mb-5 rounded" id="{{ .Title | urlize }}-ezo">
        <div class="row">
          <div class="col-lg-8 col-24" >
            <h4 class="heading m-0 mb-3 mr-3">{{ .Title }}</h4>
          </div>
          <div class="col-lg-16 col-24">
            <div class="row">
              {{- range .Pages -}}
              <div class="col-24 col-lg-12 mb-4" id="{{ .Title | urlize }}-ezo">
                <h5 class="heading font-weight-normal" style="font-size: 16px; height: -webkit-fit-content;">{{ .Title }}</h5>
                {{- range .Pages -}}
                
                  {{ $wordCount := .Content | countwords }}
                  {{ $readingTimeMinutes := div $wordCount 200 }}
                  {{ if eq $readingTimeMinutes 0 }}
                      {{ $readingTimeMinutes = 1 }}
                  {{ end }}
                <a class="d-block" href="{{.Permalink}}">{{.Title}}
                  <sup style="color: #ffb222;"><i class="fa-regular fa-clock mr-2"></i>{{ $readingTimeMinutes }} mins</sup>
                </a>
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    {{- end -}}
     {{- end -}}
     {{ end }}

      <!-- Main Category -->
      {{ if eq $slashCount 6}}{{- range .Pages -}}
      <div class="p-5 bg-white mb-5 rounded" id="{{ .Title | urlize }}-ezo">
        <div class="row">
          <div class="col-lg-8 col-24" >
            <h4 class="heading m-0 mb-3 mr-3">{{ .Title }}</h4>
          </div>
          <div class="col-lg-16 col-24">
            <div class="row">
              {{- range .Pages -}}
              <div class="col-24 col-lg-12 mb-4" id="{{ .Title | urlize }}-ezo">
                <h5 class="heading font-weight-normal" style="font-size: 16px; height: -webkit-fit-content;">{{ .Title }}</h5>
                {{- range .Pages -}}
                
                  {{ $wordCount := .Content | countwords }}
                  {{ $readingTimeMinutes := div $wordCount 200 }}
                  {{ if eq $readingTimeMinutes 0 }}
                      {{ $readingTimeMinutes = 1 }}
                  {{ end }}
                <a class="d-block" href="{{.Permalink}}">{{.Title}}
                  <sup style="color: #ffb222;"><i class="fa-regular fa-clock mr-2"></i>{{ $readingTimeMinutes }} mins</sup>
                </a>
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
     {{- end -}}
     {{ end }}
    
     <!-- Sub Category -->
     {{ if eq $slashCount 7}}
      <div class="p-5 bg-white mb-5 rounded" id="{{ .Title | urlize }}-ezo">
        <div class="row">
          <div class="col-lg-8 col-24" >
            <h4 class="heading m-0 mb-3 mr-3">{{ .Title }}</h4>
          </div>
          <div class="col-lg-16 col-24">
            <div class="row">
              {{- range .Pages -}}
              <div class="col-24 col-lg-12 mb-4" id="{{ .Title | urlize }}-ezo">
                <h5 class="heading font-weight-normal" style="font-size: 16px; height: -webkit-fit-content;">{{ .Title }}</h5>
                {{- range .Pages -}}
                
                  {{ $wordCount := .Content | countwords }}
                  {{ $readingTimeMinutes := div $wordCount 200 }}
                  {{ if eq $readingTimeMinutes 0 }}
                      {{ $readingTimeMinutes = 1 }}
                  {{ end }}
                <a class="d-block" href="{{.Permalink}}">{{.Title}}
                  <sup style="color: #ffb222;"><i class="fa-regular fa-clock mr-2"></i>{{ $readingTimeMinutes }} mins</sup>
                </a>
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      {{ if ge $slashCount 8 }}
      <div class="p-5 bg-white mb-5 rounded" id="{{ .Title | urlize }}-ezo">
        <div class="row">
          <div class="col-lg-8 col-24" >
            <h4 class="heading m-0 mb-3 mr-3">{{ .Title }}</h4>
          </div>
          <div class="col-lg-16 col-24">
            <div class="row">
              <div class="col-24 col-lg-12 mb-4" id="{{ .Title | urlize }}-ezo">
                <h5 class="heading font-weight-normal" style="font-size: 16px; height: -webkit-fit-content;">{{ .Title }}</h5>
                {{- range .Pages -}}
                
                  {{ $wordCount := .Content | countwords }}
                  {{ $readingTimeMinutes := div $wordCount 200 }}
                  {{ if eq $readingTimeMinutes 0 }}
                      {{ $readingTimeMinutes = 1 }}
                  {{ end }}
                <a class="d-block" href="{{.Permalink}}">{{.Title}}
                  <sup style="color: #ffb222;"><i class="fa-regular fa-clock mr-2"></i>{{ $readingTimeMinutes }} mins</sup>
                </a>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      
    </div>
  </div>
</div>

{{- partial "footer.html" . -}}
