{{- partial "header.html" . -}}

<div class="container content">
  <br><br><br><br>
  <div class="row justify-content-center">
    <div class="col-lg-11 col-22">
      <h1 class="text-center">Tutorials</h1>
      <p class="text-center text-secondary my-5">
        Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed
        consectetur.
      </p>
      <div class="position-relative mx-5 searchIconRight w-75 mx-auto">
        <input
          type="text"
          class="form-control form-control-lg border-0 shadow-sm tutorialsSearch px-4"
          placeholder="What are you looking for?"
        />
        <div
          class="position-absolute w-100 bg-white rounded shadow buildingBlocksSuggestions"
        ></div>
      </div>
    </div>

  </div>
  <br><br><br><br>
  <!-- all the building blocks -->
  <div class="row justify-content-center buildingBlocksRow">
    <div class="col-20">
      {{ range where .Site.Pages "Section" "tutorials"}}  {{- range .Pages -}}
      <div class="p-5 bg-white mb-5 rounded">
        <div class="row">
          <div class="col-lg-8 col-24">
            <h4 class="heading m-0">{{ .Title }}</h4>
          </div>
          <div class="col-lg-16 col-24">
            <div class="row">
              {{- range .Pages -}}
              <div class="col-24 col-lg-12 mb-4">
                <h5 class="heading font-weight-normal" style="font-size: 16px; height: 22px;">{{ .Title }}</h5>
                {{ range .Pages }}
                <a class="d-block" href="{{.Permalink}}">{{.Title}}</a>
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{- end -}} {{- end -}}
    </div>
  </div>
</div>

{{- partial "footer.html" . -}}
