{{ partial "header.html" . }}
<br><br>
<div class="container mt-4">
	{{ partial "breadcrumbs.html" . }}
</div>
<div class="container content px-0 mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-22">
			<div class="sticky-top">
				<h1 class="text-center text-lg-left" style="font-size: 38px; line-height: 48px;">{{ .Title }}</h1>

				<div class="TableOfContents">
					<span class="arrow-icon"></span>
					<div class="pseudo-btn d-block d-lg-none"></div>
					{{ $currentTitle := .Title }}
					{{ with .CurrentSection }}
					{{ range .Pages }}
						{{ if eq .Title $currentTitle }}
						<h5 class="text-secondary" style="font-size: 18px; margin-left: 10px;"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
							
								{{ .TableOfContents }}
							
						{{ else }}
						<h5 class="text-secondary" style="font-size: 18px; margin-left: 10px;"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
						{{ end }}
					{{ end }}
				{{ end }}
				</div>		
						
			
			</div>
			
		</div>
		<article class="col-lg-16 col-22">
			<div class="p-5 bg-white rounded mb-5">
				{{ .Content }}

				{{with .Site.RegularPages.Next . }} <a href="{{.RelPermalink}}">Next Page</a> {{ end }}
			</div>
		</article>
	</div>
</div>

{{ partial "footer.html" . }}