{{- partial "header.html" . -}}

<span id="scrollTo" class=""><a href="#{{ .CurrentSection.Name | urlize }}-ezo"></a></span>

<div class="container content">
  <br><br><br><br>
  <div class="row justify-content-center">
    <div class="col-lg-11 col-22">
      <h1 class="text-center">Building Blocks</h1>
      <p class="text-center text-secondary my-5">
        Building blocks are the DNA of our platform. Use and "mix" our code snippets and workflows to create something unique.
      </p>
     <!--  <div class="position-relative mx-5 searchIconRight w-75 mx-auto">
        <input
          type="text"
          class="form-control form-control-lg border-0 shadow-sm buildingBlockSearch px-4"
          placeholder="What are you looking for?"
        />
        <div
          class="position-absolute w-100 bg-white rounded shadow buildingBlocksSuggestions"
        ></div>
      </div> -->
    </div>

  </div>
  <br><br><br><br>
  <!-- all the building blocks -->
  <div class="row justify-content-center buildingBlocksRow">
    <div class="col-20">
      {{- range where .Site.Pages "Section" "building-blocks" -}} {{ if eq .Params.isParent "true" }} {{- range .Pages -}}
      <div class="p-5 bg-white mb-5 rounded" id="{{ .Title | urlize }}-ezo">
        <div class="row">
          <div class="col-lg-8 col-24" >
            <h4 class="heading m-0 mb-3 mr-3">{{ .Title }}</h4>
          </div>
          <div class="col-lg-16 col-24">
            <div class="row">
              {{- range .Pages -}}
              <div class="col-24 col-lg-12 mb-4" id="{{ .Title | urlize }}-ezo">
                <h5 class="heading font-weight-normal" style="font-size: 16px; height: -webkit-fit-content;">{{ .Title }}</h5>
                {{ range .Pages }}
                
                  {{ $wordCount := .Content | countwords }}
                  {{ $readingTimeMinutes := div $wordCount 200 }}
                  {{ if eq $readingTimeMinutes 0 }}
                      {{ $readingTimeMinutes = 1 }}
                  {{ end }}
                <a class="d-block" href="{{.Permalink}}">{{.Title}}
                  <sup style="color: #ffb222;"><i class="fa-regular fa-clock mr-2"></i>{{ $readingTimeMinutes }} mins</sup>
                </a>
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{- end -}} {{ end }} {{- end -}}
    </div>
  </div>
</div>

{{- partial "footer.html" . -}}
