{{ partial "header.html" . }}
<br><br>
<div class="container mt-4">
	{{ partial "breadcrumbs.html" . }}
</div>
<div class="container content px-0 mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-22">
			<div class="sticky-top" id="TableOfContents">
				<h1 class="text-center text-lg-left" style="font-size: 38px; line-height: 48px;">{{ .Title }}</h1>

			<div>
				{{ .TableOfContents }}
			</div>
			</div>
			
		</div>
		<article class="col-lg-16 col-22">
			<div class="p-5 bg-white rounded mb-5">
				{{ .Content }}

				
			</div>
		</article>
	</div>
</div>

{{ partial "footer.html" . }}