<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}" {{ end }}>

  <head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <script>
      const search = window.location.search ? window.location.search : "";
      const hash = window.location.hash ? window.location.hash : "";
      window.location = "{{ .Permalink }}" + search + hash;
    </script>
  </head>

  </html>