{{ partial "header.html" . }}

<!-- menu -->

<div class="bg-secondary text-white p-5 d-none">
  {{- range .Sections -}}
  {{- range .Pages -}}
  {{ if eq .Params.isParent "true" }}
  <h1>{{ .Title }}</h1>
  {{- range .Pages -}}
  <h2>{{ .Title }}</h2>
  {{- range .Pages -}}
  <h3>{{ .Title }}</h3>
  <ul>
    {{- range .Pages -}}
    <li>{{ .Title }}</li>
    {{- end -}}
  </ul>
  {{ end }}
  {{ end }}
  {{ end }}
  {{- end -}}
  {{- end -}}
</div>



<!-- content -->
<div class="huge-background-circle"></div>

<!-- Cover -->
<div class="container my-5 py-3 cover">
  <div class="row mt-4 justify-content-center">
    <div class="col-lg-9 col-24 mt-3 px-0 order-2 order-lg-1 text-center text-lg-left">
      <h1 class="mx-5 mx-lg-0">
        <!--<span class="text-primary heading">Tilburg Science Hub</span>-->
        <span class="">Tilburg</span><span class="heading"> Science Hub</span>
        <!--<br />
        <span>Conduct your research differently.</span>-->
      </h1>

      <p class="text-secondary mx-4 mx-lg-0 mt-4 mb-4 mr-lg-5 pr-lg-5">
        We bring the <a class="header takeTour" href="#0" >value of open science</a> to Tilburg,
        and valuable resources of Tilburg to the world.
      </p>

      <!-- buttons take the tour and start tutorial-->
      <div class="d-lg-flex align-items-center align-content-center">
        <p class="text-secondary mb-xl-0 pr-3">
          <b>New to Tilburg Science Hub?</b>
        </p>
        <a href="#0" class="takeTour">
          <button class="btn btn-primary" style="margin: 5px;">Take the tour</button>
        </a>
      </div>
    </div>

    <!--<div class="form-inline text-center float-center d-none d-block d-xl-none">
				<br>space<br></div>
-->



    <!-- for bigger screens: search -->
    <!--
<div class="d-none d-lg-block">
	<form class="form-inline text-center float-center" method="GET" action="/search">
		<div style="width: 500px" class="form-control headerSearch2 border-0">
			<input class="resetInput" type="search" name="q" placeholder="Search for topics, tutorials, tips & tools!" aria-label="Search" required autocomplete="off">
			<button style="background-color: transparent; padding: 0;" type="submit"><img src="/img/search.svg" /></button>
		</div>

	</form>
  -->

    <!-- search results -->
    <!--
	<div class="position-absolute bg-white rounded shadow headerSearchResultsHolder2">
	</div>

</div>
  -->

    <!-- for smaller screens: search -->
    <!--
<div class="d-lg-none">

	<form class="text-center float-center" method="GET" action="/search">
		<div class="form-control headerSearch2 border-0">
			<input class="resetInput" type="search" name="q" placeholder="Search for topics, tutorials, tips & tools!" aria-label="Search" required autocomplete="off">
			<button style="background-color: transparent; padding: 0;" type="submit"><img src="/img/search.svg" /></button>
		</div>

	</form>
    -->

    <!-- search results -->
    <!--
	<div class="position-absolute bg-white rounded shadow headerSearchResultsHolder2">
	</div>
   -->








    <!--<span>Take a tour</span>-->

    <!--<p class="text-secondary text-right mx-4 mx-lg-0 mt-4 mb-4 mr-lg-5 pr-lg-5">
        Take a tour.

      </p>
-->
    <!--
			<a href="/tour">
        <button class="btn  btn-sm mt-2">Take a tour</button>
      </a>
			<a href="https://github.com/tilburgsciencehub/website">
        <button class="btn btn-sm mt-2">Visit us on GitHub</button>
      </a>

    </div> --->

    <!-- end of search on homepage feature -->

    <div
      class="col-lg-10 mt-3 col-16 order-1 order-lg-2 d-none d-md-flex d-lg-flex d-xl-flex text-center align-content-center">
      <img src="/img/hero.png" alt="work with open science" class="hero-image mx-auto mx-lg-none">
    </div>

  </div>
</div>

<!--
  <div class="terminal-window">
    <header>
      <div class="button green"></div>
      <div class="button yellow"></div>
      <div class="button red"></div>
    </header>
    <section class="terminal">
      <div class="history"></div>
      $&nbsp;<span class="prompt"></span>
      <span class="typed-cursor"></span>

    </section>
  </div>

    <div class="terminal-data git-clone-output">
      <span class="gray">Cloning into 'textmining-workflow'...<br>
      remote: Enumerating objects: 56, done.<br>
      remote: Counting objects: 100% (56/56), done.<br>
      remote: Compressing objects: 100% (45/45), done.<br>
      remote: Total 56 (delta 19), reused 36 (delta 8), pack-reused 0<br>
      Receiving objects: 100% (56/56), 11.31 KiB | 3.77 MiB/s, done.<br>
      Resolving deltas: 100% (19/19), done.</span>
    </div>
    <div class="terminal-data make-output">
      <span class="gray">/Library/Developer/CommandLineTools/usr/bin/make -C src/data-preparation<br>
      python3 download.py<br>
      Downloading raw data... please wait.<br>
      Writing raw data to file<br>
      Done.<br>
      python3 unzip.py<br>
      python3 parse.py<br>
      done.<br>
      python3 textmining.py</span>
    </div>
    <div class="terminal-data mimik-run-output">
   <br>Found 1 feature<br>
   ----------------------------------------------<br>
   Feature: Bottles  <span class="gray"># ./features/bottles.feature</span><br><br>

   &nbsp;&nbsp;Scenario: A bottle falls from the wall<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">Given 100 green bottles are standing</span><br>
   &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">when 1 green bottle accidentally falls</span><br>
   &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">then there are 99 green bottles standing</span><br>
   <br>
      <span class="gray">&nbsp;---------- ----------- ------- -------- --------</span><br>
  &nbsp;&nbsp;Features&nbsp;&nbsp;&nbsp;Scenarios&nbsp;&nbsp;&nbsp;Steps&nbsp;&nbsp;&nbsp;Passed&nbsp;&nbsp;&nbsp;Failed<br>
      <span class="gray">&nbsp;---------- ----------- ------- -------- --------</span><br>
  &nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓ 4</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0      <br>
    <br>
  &nbsp;&nbsp;Completed 1 feature in 0.01s<br>
    <br>
  </div> -->





<!-- Feature divs -->

<!-- 1 -->
<div class="container mb-3 pb-4 px-0 mt-0 cards-home">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="row justify-content-center mx-0 buildingBlocksRow">

        <div class="col-lg-10 col-xl-8 col-22 mb-3">
          <div class="h-100 p-4 rounded bg-white">
            <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
              Most read building blocks
            </h2>
            <ul class="my-2 list-unstyled most-popular-building-blocks" id="most-read-building-blocks-list">
            </ul>
          </div>
        </div>
        <div class="col-lg-10 col-xl-8 col-22 mb-3">
          <div id="most-popular-block-single" class="h-100 p-4 rounded bg-white"
            style="background-image: url('/img/card-background.svg');background-size: contain;background-position-y:bottom;background-position-x:right;background-repeat: no-repeat;">
            <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">Titel</h2>
            <p style="color: #6081a2!important;
              font-family: acumin-pro,sans-serif;font-size:16px;width:80%">Description</p>
            <div class="mt-4 mb-0">
              <a href="/building-blocks/">
                <button class="btn tertiary ">Start Reading</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-xl-8 col-22 mb-3">
          <div class="h-100 p-4 rounded bg-white">
            <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
              Most read tutorials
            </h2>
            <ul class="my-2 list-unstyled most-popular-building-blocks" id="most-read-tutorials-list">
            </ul>
          </div>
        </div>
        <div class="col-lg-10 col-xl-14 col-22 mb-3">
          <div class="h-100 p-4 rounded bg-white d-flex flex-column card-category-carousel"
            style="position: relative;overflow:hidden">
            <div class="d-none d-md-block d-lg-block d-xl-block" style="position: absolute;bottom: -50px;right: -25px;width: 200px;height: auto;z-index:2">
              <img src="/img/card-icon.png" alt="Background Image">
            </div>
          
            <div class="background-content">
            <div class="row mb-4">
              <div class="col-xl-22 col-lg-20 col-md-22 col-sm-22">
                <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
                  Reproducible Research
                </h2>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 carousel-nav">
                <button style="background-image: none;background-color: transparent;color:#013365"
                  class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="fa-solid fa-arrow-left" aria-hidden="true"></span>
                </button>
                <button style="background-image: none;background-color: transparent;color:#013365"
                  class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="fa-solid fa-arrow-right" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            <div class="row" style="margin-top: auto; margin-bottom: auto;">
              <div class="col-xl-24 col-lg-24 col-md-24 col-sm-24">
                <div id="carouselExample" class="carousel slide h-100" data-bs-ride="carousel">
                  <div class="carousel-inner h-100" style="z-index:1;">
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-xl-6 col-22 mb-3">
          <div class="h-100 p-4 rounded bg-white">
            <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
              Recently Published
            </h2>
            <ul class="my-2 list-unstyled">
              {{ $s := slice }}
              {{ $displayedTitles := dict }}

              {{ range where .Site.Pages.ByPublishDate.Reverse "Section" "in" "[building-blocks, tutorials]" }}
              {{ $title := .Title }}
              {{ if not (index $displayedTitles $title) }}
              {{ $s = $s | append . }}
              {{ $displayedTitles = merge $displayedTitles (dict $title true) }}
              {{ end }}
              {{ end }}

              {{ with $s.ByPublishDate.Reverse | first 3 }}
              {{ range . }}
              <li class="pb-3">
                <span class="icon link text-primary d-inline-block mr-2"></span>
                <a href="{{ .Permalink }}">{{ .Title }}<sup style="color: #ffb222;"> new </sup></a>
              </li>
              {{ end }}
              {{ end }}
            </ul>


          </div>
        </div>
        <div class="col-lg-10 col-xl-4 col-22 mb-3">
          <div class="h-100 p-3 rounded bg-white d-flex justify-content-center align-items-center">
            <div>
              <h2 class="text-center heading px-3" style="font-size: 20px ; line-height: 1 !important">
                Use our code snippets in your projects
              </h2>
              <div class="text-center mt-4 mb-0">
                <a href="/building-blocks/">
                  <button class="btn tertiary ">Use a code snippet</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-xl-12 col-22 mb-3">
          <div id="most-popular-tutorial-single" class="h-100 p-4 rounded bg-white text-right d-flex align-items-center"
            style="background-image: url('/img/card-background-left.svg');background-size: contain;background-repeat: no-repeat;background-position-y:bottom;background-position-x:left;">
            <div style="width:100%">
              <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">title</h2>
              <p style="color: #6081a2!important;
              font-family: acumin-pro,sans-serif;font-size:16px;width:80%;float:right;">description</p>
              <div class="mt-4 mb-0">
                <a href="path">
                  <button class="btn tertiary ">Start Reading</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-xl-12 col-22 mb-3">
          <div class="h-100 p-4 rounded bg-white d-flex flex-column">
            <div class="row mb-4">
              <div class="col-xl-24 col-lg-24 col-md-24 col-sm-24">
                <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
                  Learn something new
                </h2>
              </div>
            </div>

            <!-- Items row -->
            <div class="row" id="itemsRow">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 1 on 1 features -->


<!-- spacer -->
<div style="height: 30px"></div>
<!-- /spacer -->
<div class="container my-5 pt-5 px-4 px-lg-0">
  <!-- - 1 - -->
  <div class="row py-5">
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 text-center">
      <img src="/img/catch-mistakes-1.svg" alt="Code like a pro" style="max-width: 200px" loading="lazy">
      <!-- <div class="bg-white rounded p-4 boxShadow pseudobox border"></div> -->
    </div>
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center">
      <div class="mt-5 mt-lg-0">
        <h2>
          <span class="text-primary heading">Code like a pro.</span> <br />Conventions make the difference.
        </h2>

        <p class="text-secondary mt-4 d-block">
          Learn to write clean code, use conventions and version control to catch mistakes easily, make your work
          future-proof, and allow others to quickly review it.
        </p>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="row py-5">
    <div class="col-lg-3 col-0 order-1"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center px-0 order-2 order-lg-1">
      <div class="mt-5 mt-lg-0 mx-2">
        <h2>
          New team? No problem. <br /><span class="text-primary heading">Onboarding made easy.</span>
        </h2>

        <p class="text-secondary mt-4">
          Learn how to make teamwork exciting, not only efficient! Use SCRUM and collaboration tools to assign roles,
          manage tasks, and define milestones so that nobody is left behind.
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-0 order-lg-2"></div>
    <div class="col-lg-8 col-24 order-1 order-lg-3 text-center">
      <!-- <div class="bg-white rounded p-4 boxShadow pseudobox border"></div> -->
      <img src="/img/collaboration-3.svg" alt="Onboarding made easy" style="max-width: 200px;" loading="lazy">
    </div>
  </div>
  <!-- 3 -->
  <div class="row py-5">
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 text-center">
      <img src="/img/automation-2.svg" alt="automate your project" style="max-width: 300px;" loading="lazy">
      <!-- <div class="bg-white rounded p-4 boxShadow pseudobox border"></div> -->
    </div>
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center">
      <div class="mt-5 mt-lg-0">
        <h2>
          <span class="text-primary heading">Automate your project.</span> <br />No more waiting behind a screen.
        </h2>

        <p class="text-secondary mt-4">
          Learn to automate your research workflow. Don't waste time manually running each step. Let your computer take
          care of it for you, while you can work on
          something else.
        </p>
      </div>
    </div>
  </div>
  <!-- 4 -->
  <div class="row py-5">
    <div class="col-lg-3 col-0 order-1"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center px-0 order-2 order-lg-1">
      <div class="mt-5 mt-lg-0 mx-2 mx-lg-0">
        <h2>
          Need more power? <br /><span class="text-primary heading">Scale it up.</span>
        </h2>

        <p class="text-secondary mt-4">
          When the going gets tough, the tough get cloud computing. Learn to quickly resume your work running instances
          on remote servers.
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-0 order-lg-2"></div>
    <div class="col-lg-8 col-24 px-0 order-1 order-lg-3 text-center">
      <!-- <div class="bg-white rounded p-4 boxShadow pseudobox border"></div> -->
      <img src="/img/audience-4.svg" alt="Scale it up" style="max-width: 200px;" loading="lazy">
    </div>
  </div>
  <!-- 5 -->
  <div class="row py-5">
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 text-center">
      <img src="/img/community-members.png" style="max-width: 100%;height: auto;" alt="Open science community"
        loading="lazy" class="community_members">
    </div>
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center">
      <div class="mt-5 mt-lg-0">
        <h2>
          Over 8,000 monthly visitors <br /><span class="text-primary heading">Join the community.</span>
        </h2>

        <p class="text-secondary mt-4">
          Visit our <a href="https://github.com/tilburgsciencehub">GitHub</a> or <a
            href="https://www.linkedin.com/company/71039687/">LinkedIn</a> page to join the Tilburg Science Hub
          community,
          or visit our <a href="/contributors">contributors' Hall of Fame!</a>
          Want to change something or add new content? Learn <a href="/contribute">how to contribute</a> now!
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Who we are div -->

<div class="container py-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-16 col-22 text-center">
      <h4 class="text-primary heading">Who we are</h4>
      <br />
      <p class="mt-2 mb-4 h3">
        Learn to work more efficiently on <a href="/tour">empirical research projects</a>,
        using tools like R, Python, and Stata –
        flavored with open science made in Tilburg.
        Initially launched by researchers from
        <a href="https://tilburguniversity.edu">Tilburg University</a>,
        Tilburg Science Hub is developed on <a href="https://github.com/tilburgsciencehub/website">GitHub</a> and
        welcomes <a href="/contribute">open source contributions</a>.

      </p>
      <br />
      <a href="/about">
        <button class="btn btn-primary btn-lg">About Us</button>
      </a>
    </div>
  </div>
  <br /><br />
</div>

<style>
  body {
    background-color: transparent;
  }

  body::before {
    content: "";
    position: absolute;
    top: 1400px;
    width: 100%;
    height: 2400px;
    z-index: -1;

    background: rgb(240, 245, 250);
    background-color: linear-gradient(0deg,
        rgba(240, 245, 250, 1) 0%,
        rgba(255, 255, 255, 1) 85%);
    background-image: url("/img/rounded-background.svg");
    background-position-y: -90px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 990px) {
    body::before {
      top: 2450px;
    }
  }

  @media only screen and (max-width:578px) {
    body::before {
      top: 2825px;
    }

    #most-popular-block-single {
      background-position-x: 130% !important;
    }

    .carousel-nav {
      display: none;
    }

    .icon-col {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }

    .text-col {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .card-category-carousel {
      background-image: none !important;
    }
  }

  @media only screen and (max-width:1339px) {
    .card-category-carousel {}
  }
</style>


{{ .Content }}



{{ partial "footer.html" . }}