{% include 'partials/header.html' %}
{% include 'partials/cookies.html' %}

<div class="container content">
  <br><br><br><br>
  <div class="row justify-content-center">
    <div class="col-lg-11 col-22">
      <h1 class="text-center">Building Blocks</h1>
      <p class="text-center text-secondary my-5">
        Building blocks are the DNA of our platform. Use and "mix" our code snippets and workflows to create something unique.
      </p>
    </div>

  </div>
  <br><br><br><br>
  <!-- all the building blocks -->
  <div class="row justify-content-center buildingBlocksRow">
    <div class="col-20">
      {% for parent_id, parent_data in data_dict['building-blocks'].items() %}
        {% if parent_data['category_data'].draft != 'true' %}
        <div id="{{ parent_data['category_data'].path }}" class="p-5 bg-white mb-5 rounded">
          <div class="row">
            <div class="col-lg-8 col-24">
              <h4 class="heading m-0 mb-3">{{ parent_data['category_data'].title }}</h4>
            </div>
            <div class="col-lg-16 col-24">
              <div class="row">
                {% for child_id, child_data in parent_data['children_categories'].items() %}
									{% if child_data['category_data'].parent == parent_id %}
                  <div class="col-24 col-lg-12 mb-4">
                    <h5 class="heading font-weight-normal" style="font-size: 16px; height: 22px;">{{ child_data['category_data'].title }}</h5>
                    {% for article in child_data['articles'] %}
                      {% if article.parent == child_data['category_data'].id and article.draft != 'true' %}
                      <a class="d-block" href="building-blocks/{{ parent_data['category_data'].path }}/{{ child_data['category_data'].path }}/{{ article.path }}">{{ article.title }}
                      <sup style="color: #ffb222;"><i class="fa-regular fa-clock mr-2"></i>{{ article.reading_time }} mins</sup></a>
                      {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!-- JavaScript to scroll to the section on page load -->
<script>
  $(document).ready(function() {
      // Controleer of de URL een hashfragment bevat (bijv. #collect-data)
      if (window.location.hash) {
          // Haal de waarde van de hash op (bijv. "#collect-data") en verwijder het "#" teken
          var targetId = window.location.hash.substring(1);
  
          // Zoek de div met het overeenkomstige ID en haal de offset-top op
          var targetElement = document.getElementById(targetId);
          var offsetTop = $(targetElement).offset().top;

          console.log(offsetTop);
  
          // Animeren van scrollen naar de doelpositie
          $('html, body').animate({
              scrollTop: offsetTop
          }, 1000); // Pas de duur aan indien nodig
      }
  });
  </script>

{% include 'partials/footer.html' %}
