{% include 'partials/header.html' %}
{% include 'partials/cookies.html' %}

<div class="container content">
  <div class="row justify-content-md-center mt-5 mb-2 py-4">
    <div class="col-lg-12 col-24">
      <h1 class="text-center">Examples</h1>
      <p class="text-center text-secondary my-4 px-5">Examples are real-life cases, publications,
         templates, or research projects that put into practice the concepts explained on Tilburg Science Hub.</p>
    </div>
  </div>

  <div>
    <div class="row justify-content-center justify-content-lg-start">
      {% for example in data_dict['examples'] %}
        <div class="col-lg-8 col-22 mb-4 d-flex flex-wrap">
          <div class="bg-white p-5 text-center w-100 rounded d-flex flex-column">
            <span class="flex-fill">
              <h4 class="heading">{{ example.title }}</h4>
              <sup style="color: #976B24;"><i class="fa-regular fa-clock mr-2"></i>{{ example.reading_time }} mins</sup>
              <p class="my-3" style="color: #6081A2;">{{ example.description }}</p>
            </span>
            <span>
              <a href="examples/{{ example.path }}" class="btn btn-primary mt-5">View Example</a>
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<br><br><br>
{% include 'partials/footer.html' %}
