{% include 'partials/header.html' %}
{% include 'partials/cookies.html' %}

<!-- content -->
<div class="huge-background-circle"></div>

<!-- Cover -->
<div class="container my-5 py-3 cover">
  <div class="row mt-4 justify-content-center">
    <div class="col-lg-9 col-24 mt-3 px-0 order-2 order-lg-1 text-center text-lg-left">
      <h1 class="mx-5 mx-lg-0">
        <!--<span class="text-primary heading">Tilburg Science Hub</span>-->
        <span class="">Tilburg</span><span class="heading"> Science Hub</span>
        <!--<br />
        <span>Conduct your research differently.</span>-->
      </h1>

      <p class="text-secondary mx-4 mx-lg-0 mt-4 mb-4 mr-lg-5 pr-lg-5">
        We bring the <a class="header takeTour" href="#0" >value of open science</a> to Tilburg,
        and valuable resources of Tilburg to the world.
      </p>

      <!-- buttons take the tour and start tutorial-->
      <div class="d-lg-flex align-items-center align-content-center">
        <p class="text-secondary mb-xl-0 pr-3">
          <b>New to Tilburg Science Hub?</b>
        </p>
        <a href="#0" class="takeTour">
          <button class="btn btn-primary" style="margin: 5px;">Take the tour</button>
        </a>
      </div>
    </div>

    <div class="col-lg-10 mt-3 col-16 order-1 order-lg-2 d-none d-md-flex d-lg-flex d-xl-flex text-center align-content-center" style="background-image: url('/static/img/hero.webp');background-size: contain;background-repeat: no-repeat;background-position: center;">
    </div>
  </div>
</div>

<!-- Feature divs -->

<!-- Cards -->
<div class="container mb-3 pb-4 px-0 mt-0 cards-home">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="row justify-content-center mx-0 buildingBlocksRow">

        <!-- Most Read Building Blocks -->
        <div class="col-lg-10 col-xl-8 col-22 mb-3">
          <div class="h-100 p-4 rounded single-card">
            <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
              Most read building blocks
            </h2>
            <ul class="my-2 list-unstyled most-popular-topics" id="most-read-topics-list">
              {% for building_block in cards_data.building_blocks %}
                <li class="pb-3">
                  <span class="icon link text-primary d-inline-block mr-2"></span>
                  <a href="{{ building_block.path }}">{{ building_block.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- Random Popular Building Block -->
        {% set random_building_block = cards_data.building_blocks | random %}
        <div class="col-lg-10 col-xl-8 col-22 mb-3">
          <div id="most-popular-block-single" class="h-100 p-4 rounded single-card"
            style="background-image: url('/static/img/card-background.svg');background-size: contain;background-position-y:bottom;background-position-x:right;background-repeat: no-repeat;">
            <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">{{ random_building_block.title }}</h2>
            <p style="color: #6081a2!important;font-size:16px;width:80%">
              {{ random_building_block.description if random_building_block.description else 'Start reading this article' }}
            </p>
            <div class="mt-4 mb-0">
              <a href="{{ random_building_block.path }}">
                <button class="btn tertiary ">Start Reading</button>
              </a>
            </div>
          </div>
        </div>

        <!-- Most Read Tutorials -->
        <div class="col-lg-10 col-xl-8 col-22 mb-3">
          <div class="h-100 p-4 rounded single-card">
            <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
              Most read tutorials
            </h2>
            <ul class="my-2 list-unstyled most-popular-topics" id="most-read-tutorials-list">
              {% for tutorial in cards_data.topics %}
                <li class="pb-3">
                  <span class="icon link text-primary d-inline-block mr-2"></span>
                  <a href="{{ tutorial.path }}">{{ tutorial.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- Reproducible Research Carousel -->
        <div class="col-lg-10 col-xl-14 col-22 mb-3">
          <div class="h-100 p-4 rounded single-card d-flex flex-column card-category-carousel"
            style="position: relative;overflow:hidden">
            <div class="d-none d-md-block d-lg-block d-xl-block" style="position: absolute;bottom: -50px;right: -25px;width: 200px;height: auto;z-index:2">
              <img src="{{ url_for('static', filename='img/card-icon.png') }}" alt="Background Image">
            </div>
          
            <div class="background-content">
              <div class="row mb-4">
                <div class="col-xl-22 col-lg-20 col-md-22 col-sm-22">
                  <div style="display: inline-flex;justify-content: space-between;width: 100%;align-items: center;">
                    <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
                      Reproducible Research
                    </h2>
                    <button style="background-image: none;background-color: transparent;color:#013365;"
                      class="carousel-control-next-mobile" type="button" data-bs-target="#carouselExample" data-bs-slide="next" aria-label="Next">
                      <span class="fa-solid fa-arrow-right" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-2 col-sm-2 carousel-nav">
                  <button style="background-image: none;background-color: transparent;color:#013365"
                    class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" aria-label="Previous">
                    <span class="fa-solid fa-arrow-left" aria-hidden="true"></span>
                  </button>
                  <button style="background-image: none;background-color: transparent;color:#013365"
                    class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" aria-label="Next">
                    <span class="fa-solid fa-arrow-right" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
              <div class="row" style="margin-top: auto; margin-bottom: auto;">
                <div class="col-xl-24 col-lg-24 col-md-24 col-sm-24">
                  <div id="carouselExample" class="carousel slide h-100" data-bs-touch="true" data-bs-ride="carousel">
                    <div class="carousel-inner h-100" style="z-index:1;">
                      {% for item in cards_data.categories.reproducible %}
                        <div class="carousel-item h-100 {% if loop.first %}active{% endif %}">
                          <div class="w-100 h-100" style="display: flex; align-items: flex-end;">
                            <div>
                              <h3 class="heading" style="font-size: 16px; font-weight: bold; line-height: 1;">{{ item.title }}</h3>
                              <p style="font-size: 16px; color: #6081a2; width: 70%;">{{ item.description }}</p>
                              <a href="{{ item.path }}" class="btn btn-primary my-2 my-sm-0" style="color: white !important;">Read more</a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Recently Published Articles -->
        <div class="col-lg-10 col-xl-6 col-22 mb-3">
          <div class="h-100 p-4 rounded single-card">
            <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
              Recently Published
            </h2>
            <ul class="my-2 list-unstyled">
              {% for article in recent_articles %}
              <li class="pb-3">
                <span class="icon link text-primary d-inline-block mr-2"></span>
                <a href="{{ article['path'] }}">{{ article['title'] }}</a>
              </li>
              {% endfor %}
            </ul>       
          </div>
        </div>

        <!-- Explore AI Tools -->
        <div class="col-lg-10 col-xl-4 col-22 mb-3">
          <div class="h-100 p-3 rounded single-card d-flex justify-content-center align-items-center">
            <div>
              <h2 class="text-center heading px-3" style="font-size: 20px ; line-height: 1 !important">
                Explore how to use AI tools
              </h2>
              <div class="text-center mt-4 mb-0">
                <a href="https://tilburg.ai">
                  <button class="btn tertiary ">Visit tilburg.ai</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Random Popular Tutorial -->
        {% set random_tutorial = cards_data.topics | random %}
        <div class="col-lg-10 col-xl-12 col-22 mb-3">
          <div id="most-popular-tutorial-single" class="h-100 p-4 rounded single-card text-right d-flex align-items-center"
            style="background-image: url('/static/img/card-background-left.svg');background-size: contain;background-repeat: no-repeat;background-position-y:bottom;background-position-x:left;">
            <div style="width:100%">
              <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">{{ random_tutorial.title }}</h2>
              <p style="color: #6081a2!important;font-size:16px;width:80%;float:right;">
                {{ random_tutorial.description if random_tutorial.description else 'Start reading this article' }}
              </p>
              <div class="mt-4 mb-0">
                <a href="{{ random_tutorial.path }}">
                  <button class="btn tertiary ">Start Reading</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Learn something new items -->
        <div class="col-lg-10 col-xl-12 col-22 mb-3">
          <div class="h-100 p-4 rounded single-card d-flex flex-column">
            <div class="row mb-4">
              <div class="col-xl-24 col-lg-24 col-md-24 col-sm-24">
                <h2 class="heading mt-3" style="font-size: 20px ; line-height: 1 !important;">
                  Learn something new
                </h2>
              </div>
            </div>

            <!-- Items row -->
            <div class="row" id="itemsRow">
              {% for i in range(0, cards_data.categories.learn | length, 2) %}
                <div class="row mb-3">
                  {% for item in cards_data.categories.learn[i:i+2] %}
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="row mb-3">
                        <div class="icon-col col-xl-4 col-lg-4 col-md-4 col-sm-4 d-flex align-items-center justify-content-center">
                          <div class="cards-home-circle"><i class="{{ item.icon }} fa-2xl"></i></div>
                        </div>
                        <div class="text-col col-xl-20 col-lg-20 col-md-20 col-sm-20">
                          <a href="{{ item.path }}" style="color: inherit !important;">
                            <h2 class="heading" style="font-size: 16px; line-height: 1;">{{ item.title }}</h2>
                          </a>
                          <p style="font-size: 16px; color: #6081a2;">{{ item.description }}</p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- 1 on 1 features -->


<!-- spacer -->
<div style="height: 30px"></div>
<!-- /spacer -->
<div class="">
<div class="container my-5 pt-5 px-4 px-lg-0 overlap-section">
  <!-- - 1 - -->
  <div class="row py-5">
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 text-center">
      <img src="{{ url_for('static', filename='img/catch-mistakes-1.svg') }}" alt="Code like a pro" style="max-width: 200px" loading="lazy">
      <!-- <div class="bg-white rounded p-4 boxShadow pseudobox border"></div> -->
    </div>
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center">
      <div class="mt-5 mt-lg-0">
        <h2>
          <span class="text-primary heading h3">Code like a pro.</span> <br />Conventions make the difference.
        </h2>

        <p class="text-secondary mt-4 d-block">
          Learn to write clean code, use conventions and version control to catch mistakes easily, make your work
          future-proof, and allow others to quickly review it.
        </p>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="row py-5">
    <div class="col-lg-3 col-0 order-1"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center px-0 order-2 order-lg-1">
      <div class="mt-5 mt-lg-0 mx-2">
        <h2>
          New team? No problem. <br /><span class="text-primary heading h3">Onboarding made easy.</span>
        </h2>

        <p class="text-secondary mt-4">
          Learn how to make teamwork exciting, not only efficient! Use SCRUM and collaboration tools to assign roles,
          manage tasks, and define milestones so that nobody is left behind.
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-0 order-lg-2"></div>
    <div class="col-lg-8 col-24 order-1 order-lg-3 text-center">
      <!-- <div class="bg-white rounded p-4 boxShadow pseudobox border"></div> -->
      <img src="{{ url_for('static', filename='img/collaboration-3.svg') }}" alt="Onboarding made easy" style="max-width: 200px;" loading="lazy">
    </div>
  </div>
  <!-- 3 -->
  <div class="row py-5">
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 text-center">
      <img src="{{ url_for('static', filename='img/automation-2.svg') }}" alt="automate your project" style="max-width: 300px;" loading="lazy">
      <!-- <div class="bg-white rounded p-4 boxShadow pseudobox border"></div> -->
    </div>
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center">
      <div class="mt-5 mt-lg-0">
        <h2>
          <span class="text-primary heading h3">Automate your project.</span> <br />No more waiting behind a screen.
        </h2>

        <p class="text-secondary mt-4">
          Learn to automate your research workflow. Don't waste time manually running each step. Let your computer take
          care of it for you, while you can work on
          something else.
        </p>
      </div>
    </div>
  </div>
  <!-- 4 -->
  <div class="row py-5">
    <div class="col-lg-3 col-0 order-1"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center px-0 order-2 order-lg-1">
      <div class="mt-5 mt-lg-0 mx-2 mx-lg-0">
        <h2>
          Need more power? <br /><span class="text-primary heading h3">Scale it up.</span>
        </h2>

        <p class="text-secondary mt-4">
          When the going gets tough, the tough get cloud computing. Learn to quickly resume your work running instances
          on remote servers.
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-0 order-lg-2"></div>
    <div class="col-lg-8 col-24 px-0 order-1 order-lg-3 text-center">
      <!-- <div class="bg-white rounded p-4 boxShadow pseudobox border"></div> -->
      <img src="{{ url_for('static', filename='img/audience-4.svg') }}" alt="Scale it up" style="max-width: 200px;" loading="lazy">
    </div>
  </div>
  <!-- 5 -->
  <div class="row py-5">
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 text-center">
      <img src="{{ url_for('static', filename='img/community-members.webp') }}" style="max-width: 100%;height: auto;" alt="Open science community"
        loading="lazy" class="community_members">
    </div>
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-24 d-flex align-items-center">
      <div class="mt-5 mt-lg-0">
        <h2>
          Over 20,000 monthly visitors <br /><span class="text-primary heading h3">Join the community.</span>
        </h2>

        <p class="text-secondary mt-4">
          Visit our <a href="https://github.com/tilburgsciencehub">GitHub</a> or <a
            href="https://www.linkedin.com/company/71039687/">LinkedIn</a> page to join the Tilburg Science Hub
          community,
          or visit our <a href="{{ url_for('contributors') }}">contributors' Hall of Fame!</a>
          Want to change something or add new content? Learn <a href="{{ url_for('contribute') }}">how to contribute</a> now!
        </p>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Who we are div -->
<div class="bg-white">
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-16 col-22 text-center">
      <h4 class="text-primary heading">Who we are</h4>
      <br />
      <p class="mt-2 mb-4 h3">
        Learn to work more efficiently on <a href="/tour">empirical research projects</a>,
        using tools like R, Python, and Stata –
        flavored with open science made in Tilburg.
        Initially launched by researchers from
        <a href="https://tilburguniversity.edu">Tilburg University</a>,
        Tilburg Science Hub is developed on <a href="https://github.com/tilburgsciencehub/website">GitHub</a> and
        welcomes <a href="{{ url_for('contribute') }}">open source contributions</a>.

      </p>
      <br />
      <a href="{{ url_for('about') }}">
        <button class="btn btn-primary btn-lg">About Us</button>
      </a>
    </div>
  </div>
  <br /><br />
</div>
</div>

<style>
  body {
    background-color: transparent;
  }

  body::before {
    content: "";
    position: absolute;
    top: 1400px;
    width: 100%;
    height: 3300px;
    z-index: -1;
    background-image: url("/static/img/rounded-background.svg");
    background-position-y: -90px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 990px) {
    body::before {
      top: 2450px;
    }
  }

  @media only screen and (min-width:578px) {
    .carousel-control-next-mobile {
      display: none;
    }
  }

  @media only screen and (max-width:578px) {
    body::before {
      top: 2825px;
    }

    #most-popular-block-single {
      background-position-x: 130% !important;
    }

    .carousel-nav {
      display: none;
    }

    .carousel-control-next-mobile {
      display: flex;
    }

    .icon-col {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }

    .text-col {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .card-category-carousel {
      background-image: none !important;
    }
  }
</style>


<script>
  // Controleer of het scherm kleiner is dan 768 pixels (mobiel)
  if (window.innerWidth <= 768) {
    // Schakel de automatische sliding uit
    var carousel = document.getElementById('carouselExample');
    carousel.removeAttribute('data-bs-ride');
  }
</script>

{% include 'partials/footer.html' %}