{% include 'partials/header.html' %}
{% include 'partials/cookies.html' %}

<div class="container">
  <br><br><br><br>
  <div class="row justify-content-center">
    <div class="col-lg-11 col-22">
      <h5 class="text-center heading" style="height: 24px; font-weight: 300 !important;">Showing search results for</h5>
      <h3 class="text-center">'<span id="queryHolder"></span>'</h3>
    </div>

  </div>
  <br><br><br><br>
  
  <!-- all the building blocks -->
  <div class="row justify-content-center buildingBlocksRow">
    <div class="col-20">

      <div class="p-5 bg-white mb-5 rounded">
        <div class="row">
          <div class=" col-24 searchResults">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



{% include 'partials/footer.html' %}

<script>
  const params = new URLSearchParams(window.location.search)
  const queryHolder = document.querySelector("#queryHolder");
  const searchResults = $(".searchResults");

  document.title = params.get("q") + " - Tilburg Science Hub"

  if (params.get("q")) {
    queryHolder.innerHTML = params.get("q");

    index.search(params.get("q"))
      .then(({hits}) => {
        hits.map((hit, index) => {

          let url = hit.objectID.replace("./", "");
          url = url.replace(".md", "");

          let last = hits.length - 1 == index;

          let keys = hit.keywords.split(", ");
          var keysSpanArray = keys.map(function(key){
            return '<span class="search-keyword">' + key + '</span>';
          });

          const cleanTitle = hit.title.replace(/"/g, '');
          const cleanDescription = hit.description.replace(/"/g, '');
          searchResults.append(`
            <div class="py-3 ${last ? '' : 'border-bottom'} block">
              <a href="/${url}">
                <h5 class="text-secondary heading" style="min-height: 24px; font-size: 18px; font-weight: 300 !important;">${cleanTitle}</h5>
                <p style="color: #6081a2; font-size: 16px;">${cleanDescription}</p>
                <div class="search-keywords">` + keysSpanArray.join("") + `</div>
              </a>
            </div>
          `);

        })
      })
  }


</script>