{{ $siteURL := .Site.BaseURL }} {{ partial "header.html" . }} <br /><br />
<div class="container mt-4">{{ partial "breadcrumbs.html" . }}</div>
<div class="container content px-0 mt-5">
  <div class="row justify-content-center mx-0">
    <div class="col-lg-8 col-22 pr-lg-5">
      <div class="sticky-top mb-lg-5 pb-lg-5 d-flex flex-column tableOfContentParent">
        {{ if .Params.tutorialTitle }}
        <h1
          class="text-center text-lg-left"
          style="font-size: 38px; line-height: 48px"
        >
          {{ .Params.tutorialTitle }}
        </h1>
        {{ else }}
        <h1
          class="text-center text-lg-left"
          style="font-size: 38px; line-height: 48px"
        >
          {{ .Title }}
        </h1>
        {{ end }}
        <div class="TableOfContents">
          <span class="arrow-icon"></span>
          <div class="pseudo-btn d-block d-lg-none"></div>
          {{ $currentTitle := .Title }} {{ range where .Site.Pages "Type" .Type }} {{ if eq .Title $currentTitle }}

                      <h5
            class="heading text-primary"
            style="
              font-size: 18px;
              height: 28px;
              margin-left: 10px;
              margin-top: 8px;
              font-weight: 100 !important;
            "
          >
            <a class="text-primary" href="{{ .Permalink }}">{{ .Title }}</a>
          </h5>
          <div class="pl-4 flex-fill">{{ .TableOfContents }}</div>



          {{ else }}
          <h5
            class="text-secondary heading"
            style="
              font-size: 18px;
              height: 38px;
              margin-left: 10px;
              margin-top: 8px;
              font-weight: 100 !important;
            "
          >
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h5>
          {{ end }} {{ end }}
        </div>

        <div class="d-none d-lg-block pseudoSpacer"></div>
      </div>
    </div>
    <article class="col-lg-16 col-22">
      <div class="p-5 bg-white rounded mb-5">
        <div class="d-block d-lg-flex d-xl-flex d-md-flex justify-content-between mb-4 align-items-center">
					<div class="flex-fill">
						{{ if eq .Params.share false }}
						{{ else }}
						{{ with .Params.aliases }}
						{{ range first 1 . }}
						{{ partial "shareLinks.html" (dict "context" . "siteURL" $siteURL) }}
						{{ end }}
						{{ end }}
						{{ end }}
					</div>
					{{ with .Params.date_modified }}
					<p class="mb-0 article-date">{{ dateFormat "January 2, 2006" . }}</p>
					{{ else }}
					{{ with .Params.date_published }}
					<p class="mb-0 article-date">{{ dateFormat "January 2, 2006" . }}</p>
					{{ end }}
					{{ end }}
				</div>

        {{ partial "announcement.html" . }}


        {{ if eq (len .Content) 0 }}
				<script>window.location = "/{{.Section}}"</script>
				{{ else }}
				{{ .Content }}
				{{ if .Params.author }}
				<div class="admonition author">
					<div class="admonition-content">Contributed by <b>
						<a href='/contributors/{{ replace (lower .Params.author) " " "" }}'>{{ .Params.author }}</a></b>
          </div>
				</div>			
				{{ else }}
				{{ end }}

        <div class="d-flex justify-content-between mt-5 align-items-center">
          <!-- <div class="flex-fill">
            {{ if eq .Params.share false }}
            {{ else }}
              {{ with .Params.aliases }}
                {{ range first 1 . }}
                  {{ partial "shareLinks.html" (dict "context" . "siteURL" $siteURL) }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div> -->
          <div class="d-none d-lg-block">
            <!--<a href="{{ .Site.Params.repo_url }}/edit/master/content/{{ .File }}" class="btn btn-secondary">Edit this page</a>-->
            <a href="https://github.com/tilburgsciencehub/website/issues/new/?template=edit-content-request.yml&title=Suggest+change+to:+{{ .File }}&labels=edit+content+request" target="_blank" class="btn btn-secondary">Suggest changes to this page</a>
          </div>
        </div>

        {{ end }}

        {{ partial "pagination.html" . }}
      </div>

      {{ partial "relatedPosts.html" . }}
    </article>
  </div>
</div>

{{ partial "footer.html" . }}
