{{ $siteURL := .Site.BaseURL }}
{{- partial "header.html" . -}}

<div class="container content">
	<div class="row justify-content-md-center mt-5 mb-2 py-4">
		<div class="col-lg-12 col-24">
			<h1 class="text-center">Meet {{ .Params.name }}</h1>
			<p class="text-center text-secondary my-4 px-5">{{ .Params.description_short }}</p>
		</div>
	</div>

	<div>

		<div class="row justify-content-between">
			<div class="col-xl-10 col-lg-10 col-22 mb-4 d-flex flex-wrap pr-4">
				<div class="w-100 rounded d-flex flex-column align-items-center justify-content-center">
					<div class="image-circle">
						{{ if .Params.image }}
						<img src="/img/contributors/{{ .Params.image }}">
						{{ else }}
						<img src="/img/contributors/no-image.png">
						{{ end }}
					</div>
				</div>
			</div>
			<div class="col-xl-14 col-lg-14 col-22 mb-4 d-flex flex-wrap pl-4">
				<div class="bg-white p-5 w-100 rounded d-flex flex-column">
					<span class="flex-fill">
						<h2 class="heading mt-3">{{ .Params.name }}</h4>
							<p>{{ .Params.description_long }}</p>

							<!-- Get Contributions -->
							{{ $contributions := slice }}

							{{ range where .Site.Pages "Section" "building-blocks" }}
							{{ if ne .Title "building-blocks" }}
							{{ if isset .Params "author" }}
							{{ if eq .Params.Author $.Params.name }}
							{{ $contributions = $contributions | append . }}
							{{ end }}
							{{ end }}
							{{ end }}
							{{ end }}

							{{ range where .Site.Pages "Section" "tutorials" }}
							{{ if ne .Title "tutorials" }}
							{{ if isset .Params "author" }}
							{{ if eq .Params.Author $.Params.name }}
							{{ $contributions = $contributions | append . }}
							{{ end }}
							{{ end }}
							{{ end }}
							{{ end }}

							{{ range where .Site.Pages "Section" "examples" }}
							{{ if ne .Title "examples" }}
							{{ if isset .Params "author" }}
							{{ if eq .Params.Author $.Params.name }}
							{{ $contributions = $contributions | append . }}
							{{ end }}
							{{ end }}
							{{ end }}
							{{ end }}

							{{ with $contributions }}
							<p class="mb-0"><strong style="font-weight: 700;">Contributions:</strong></p>
							<ul style="padding-inline-start: 20px;">
								{{ range $contributions }}
								<li style="color: #013365;"><a href="{{ .Permalink }}" style="color:inherit">{{ .Title
										}}</a></li>
								{{ end }}
							</ul>
							{{ end }}

							<!-- Get Email -->
							{{ if .Params.email }}
							<p><strong style="font-weight: 700;">Email:</strong> {{ .Params.email }}</p>
							{{ end }}

							<!-- Get Skills -->
							{{ if .Params.skills }}
							<div style="display: flex; align-items: center;">
								<p class="mb-0"><strong style="font-weight: 700;">Skills:</strong></p>
								<ul class="skills-ul">
									{{ $skills := .Params.skills }}
									{{ range $index, $skill := $skills }}
									{{ if $index }}<li class="mx-2" style="color: #013365;"> - {{ end }}
									<li style="color: #013365;">{{ $skill }}</li>
									{{ end }}
								</ul>
							</div>
							{{ end }}

							<!-- Get Free Text (content) -->
							{{ if .Content }}
							<p style="color: #013365;">{{ .Content }}</p>
							{{ end }}

							<!-- Get Socials -->
							{{ if .Params.social }}
							<ul style="padding-inline-start: 0px; list-style: none;display: flex;">
								{{ range .Params.social }}
								<li class="mr-2">
									<a style="color: #013365;" href="{{ .link }}">
										{{ if in .name "Facebook" }}
										<i class="fab fa-facebook fa-2xl"></i>
										{{ else if in .name "Twitter" }}
										<i class="fab fa-twitter fa-xl"></i>
										{{ else if in .name "LinkedIn" }}
										<i class="fab fa-linkedin fa-xl"></i>
										{{ else }}
										{{ .name }}
										{{ end }}
									</a>
								</li>
								{{ end }}
							</ul>
							{{ end }}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>
{{- partial "footer.html" . -}}